{% extends "header.html" %}
{% block body %}
<html>
<head>
	<title>Search Page</title>
</head>

	<div class="form-group">
		<div class="container">
		  <h2>All Experiments</h2>
		  <table id="table_allexperiment" class="display" cellspacing="0" width="90%">
			<thead>
			  <tr>
				<th>Experiment Name</th>
				<th>Experiment Info</th>
				<th>Experiment Number</th>
				<th>Animal Numbers</th>
			  </tr>
			</thead>
		  </table>
		</div>
	</div>

	<script type = "text/javascript" src="{{url_for('static', filename= 'js/allexperimentpagescripts.js')}}"></script>
</html>
{% endblock %}