{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Animal List{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the Animal List page</h1>
	
		<table class="table">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Animal ID</th>
		  <th scope="col">Animal Name</th>
		  <th scope="col">Ear Tag</th>
		  <th scope="col">EID</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <th scope="row">1</th>
		  <td>1</td>
		  <td>Brahmin Bull</td>
		  <td>123456789</td>
		  <td>1234</td>
		</tr>
		<tr>
		  <th scope="row">2</th>
		  <td>2</td>
		  <td>6040</td>
		  <td>11121314151617</td>
		  <td>5678</td>
		</tr>
		<tr>
		  <th scope="row">3</th>
		  <td>3</td>
		  <td>7060</td>
		  <td>21222324252627</td>
		  <td>1011</td>
		</tr>
	  </tbody>
	</table>
	
	<button type="button" class="btn btn-primary btn-lg">Edit</button>
	<button type="button" class="btn btn-secondary btn-lg">Delete</button>
	
	
	{% endblock %}

{% block sidenav %}
<div class="sidenav">
    <ul class="vertical-nav">
        <li><a class="active" href="#">Animal<icd></icd></a>
			<ul class="child">
                <li><a class="active" href="/animal/list">List Animals</a></li>
                <li><a href="/animal/add">Add Animal</a></li>
                <li><a href="/animal/update">View/Update Animal</a></li>
            </ul></li>
        <li><a href="#">Experiment <icd></icd></a>
            <ul class="child">
                <li><a href="/experiment/add">Add Experiment</a></li>
                <li><a href="/experiment/update">View/Update Experiment</a></li>
            </ul>
        </li>
		<li><a href="#">Report <icd></icd></a>
            <ul class="child">
                <li><a href="/report/create">Create Report</a></li>
                <li><a href="/report/view">View Report</a></li>
            </ul>
        </li>
		<li><a href="#">Inventory <icd></icd></a>
            <ul class="child">
                <li><a href="/inventory/formulary">Formulary</a></li>
                <li><a href="/inventory/pasture">Pasture</a></li>
				<li><a href="/inventory/procedure">Procedure</a></li>
            </ul>
        </li>
		<li><a href="#">Inspection <icd></icd></a>
            <ul class="child">
                <li><a href="/inspection/submit">Submit Inspection</a></li>
                <li><a href="/inspection/view">View Inspection Reports</a></li>
            </ul>
        </li>
		<li><a href="#">Reproduction <icd></icd></a>
            <ul class="child">
                <li><a href="/reproduction/calfadd">Add Calf</a></li>
                <li><a href="/reproduction/calfview">View/Update Calf</a></li>
            </ul>
        </li>
		<li><a href="#">Herd <icd></icd></a>
            <ul class="child">
                <li><a href="/herd/create">Create Herd</a></li>
                <li><a href="/herd/view">View/Update Herd</a></li>
				<li><a href="/herd/grazing">Grazing</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
</body>
</html>
