{% extends "header.html" %}
{% block body %}
<head>
	<title>Edit Cow Info</title>
</head>
<html>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>



<div class="container-fluid">
	<div class="row-fluid">
		<div class="sidenav" style="width:15%">
				<ul class="nav nav-stacked" role="tablist">
					<li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
					<li role="presentation"><a href="#calf_inventory" aria-controls="calf_inventory" role="tab" data-toggle="tab">Animal Inventory</a></li>
					<li role="presentation"><a href="#calf_experiment" aria-controls="calf_experiment" role="tab" data-toggle="tab">Experiment</a></li>
					<li role="presentation"><a href="#calf_reproduction" aria-controls="calf_reproduction" role="tab" data-toggle="tab">Reproduction</a></li>
					<li role="presentation"><a href="#calf_medical" aria-controls="calf_medical" role="tab" data-toggle="tab">Medical</a></li>
					<li role="presentation"><a href="#calf_grazing" aria-controls="calf_grazing" role="tab" data-toggle="tab">Pasture</a></li>
					<li role="presentation"><a href="#episode" aria-controls="episode" role="tab" data-toggle="tab">Episode</a></li>
				</ul>
				<br>
				<button id="basic_update" method="POST" align="center" class='btn btn-info'>Update</button></a>
				<div style="margin-bottom:30px;max-height:400px;overflow-y:scroll;">
					<h4 style="margin:0px auto; padding-bottom:5px;" align="center">Animal Numbers</h4>
					<ul id="latestcow" class=" scrollable-menu">					
					</ul>
				</div>
				
		</div>
		<div style="width:85%;" class="col-xs-offset-2">
			<div style="margin-bottom:100px;">
				<div class="form-group" >
					<label for="cownumber" class="control-label col-xs-1">Animal Number</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="cownumber" name="cownumber" placeholder="Animal Number">
					</div>
					<label for="animalname" class="control-label col-xs-1">Animal Name</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="animalname" placeholder="Animal Name">
					</div>
					<label for="eartag" class="control-label col-xs-1">Ear Tag</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="eartag" placeholder="Ear Tag">
					</div>
					<label for="eid" class="control-label col-xs-1">EID</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="eid" placeholder="Eid">
					</div>
				</div>
				<hr width="50%" size="8" align="center">
				<div class="form-group">
					<label for="pasturenumber" class="control-label col-xs-1">Pasture Number</label>
					<div class="col-xs-2">
					  <input type="text" class="form-control" id="pasturenumber" placeholder="Herd">
					</div>
					<label for="herd" class="control-label col-xs-1">Herd</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="herd" placeholder="Herd">
					</div>
					<label for="trial" class="control-label col-xs-1">Trial</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="trial" placeholder="Trial">
					</div>
					<label for="animaltype" class="control-label col-xs-1">Animal Type</label>
					<div class="col-xs-2">
					  <select class="form-control" id="animaltype">
						<option></option>
						<option>Cow</option>
						<option>Bull</option>
						<option>Calf</option>
						<option>Steer</option>
						<option>Heifer</option>
					  </select>
					</div>
				</div>
			</div>
		  <!-- <!-- Nav tabs -->
			
			<!-- <ul class="nav nav-stacked" role="tablist"> -->
				<!-- <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li> -->
				<!-- <li role="presentation"><a href="#calf_inventory" aria-controls="calf_inventory" role="tab" data-toggle="tab">Animal Inventory</a></li> -->
				<!-- <li role="presentation"><a href="#calf_experiment" aria-controls="calf_experiment" role="tab" data-toggle="tab">Experiment</a></li> -->
				<!-- <li role="presentation"><a href="#calf_reproduction" aria-controls="calf_reproduction" role="tab" data-toggle="tab">Reproduction</a></li> -->
				<!-- <li role="presentation"><a href="#calf_medical" aria-controls="calf_medical" role="tab" data-toggle="tab">Medical</a></li> -->
				<!-- <li role="presentation"><a href="#calf_grazing" aria-controls="calf_grazing" role="tab" data-toggle="tab">Pasture</a></li> -->
				<!-- <li role="presentation"><a href="#episode" aria-controls="episode" role="tab" data-toggle="tab">Episode</a></li> -->
			<!-- </ul> -->

		  <!-- Tab panes -->
		  <div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="basics">
					<form id="basics" method="POST" class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="height" class="control-label col-xs-1">Height</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="height" name="height" placeholder="Height">
							</div>
							<label for="weight" class="control-label col-xs-1">Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="weight" name="weight" placeholder="Weight">
							</div>
							<label for="breed" class="control-label col-xs-1">Breed</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="breed" placeholder="Breed">
							</div>
							<label for="breeder" class="control-label col-xs-1">Breeder</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="breeder" placeholder="Breeder">
							</div>
						</div>
						<div class= "form-group">
							<label for="sex" class="control-label col-xs-1">Sex</label>
							<div class="col-xs-2">
							  <select class="form-control" id="sex">
								<option></option>
								<option>Female</option>
								<option>Male</option>
							  </select>
							</div>
							<label for="status" class="control-label col-xs-1">Status</label>
							<div class="col-xs-2">
							  <select class="form-control" id="status">
								<option></option>
								<option>Active</option>
								<option>Inactive</option>
							  </select>
							</div>
							<label for="currentframescore" class="col-xs-1 control-label">Current Frame Score</label>
							<div class="col-xs-2">
							  <input type="text" id="currentframescore" class="form-control" placeholder="Current Frame Score">
							</div>
							
						</div>
						<div class="form-group">
							<label for="species" class="control-label col-xs-1">Species</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="species" placeholder="Species">
							</div>
							<label for="damframescore" class="control-label col-xs-1">Dam Frame Score</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="damframescore" placeholder="Dam Frame Score">
							</div>
							<label for="comments" class="col-xs-1 control-label">Comments</label>
							<div class="col-xs-5">
								<input type="text" id="comments" class="form-control" placeholder="Comments">
							</div>
						</div>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_inventory">
					<form class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="brand" class="control-label col-xs-1">Brand</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="brand" placeholder="Brand">
							</div>
							<label for="brandlocation" class="control-label col-xs-1">Brand Location</label>
							<div class="col-xs-2">
							  <select class="form-control" id="brandlocation">
								<option></option>
								<option>Left Hip</option>
								<option>Right Hip</option>
							  </select>
							</div>
							<label for="tattooleft" class="control-label col-xs-1">Tattoo Left</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="tattooleft" placeholder="Tattoo Left">
							</div>
							<label for="tattooright" class="control-label col-xs-1">Tattoo Right</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="tattooright" placeholder="Tattoo Right">
							</div>
							
						</div>
						<div class="form-group">
							
							<label for="alternativeid" class="control-label col-xs-1">Alternative ID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="alternativeid" placeholder="Alternative ID">
							</div>
							<label for="registration" class="control-label col-xs-1">Registration</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="registration" placeholder="Registration">
							</div>
							<label for="color" class="control-label col-xs-1">Color</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="color" placeholder="Color">
							</div>
							<label class="control-label col-xs-1" for="date">D.O.B</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dob" name="date" placeholder="MM/DD/YYYY" type="text">
							</div>
						</div>
						<div class="form-group">
							<label for="dam" class="control-label col-xs-1">Dam</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" id="dam" placeholder="Dam">
							</div>
							<label for="sire" class="control-label col-xs-1">Sire</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" id="sire" placeholder="Sire">
							</div>
						</div>
						<div class="form-group">
							<label for="hornstatus" class="control-label col-xs-1">Horn Status</label>
							<div class="col-xs-2">
							  <select class="form-control" id="hornstatus">
								<option></option>
								<option>Polled</option>
								<option>Scurred</option>
								<option>Horned</option>
								<option>De-horned</option>
							  </select>
							</div>
							<label for="acquiredinfo" class="control-label col-xs-1">How Acquired</label>
							<div class="col-xs-2">
							  <select class="form-control" id="howacquired">
								<option></option>
								<option>Raised</option>
								<option>Purchased</option>
								<option>Leased</option>
							  </select>
							</div>
							<label class="control-label col-xs-1" for="date">Date Acquired</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dateacquired" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="disposalreason" class="control-label col-xs-1">Disposal Reason</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" id="disposalreason" placeholder="Disposal Reason ">
							</div>
							<label for="disposedinfo" class="control-label col-xs-1">How Disposed</label>
							<div class="col-xs-2">
							  <select class="form-control" id="howdisposed">
								<option></option>
								<option>Sold</option>
								<option>Died</option>
								<option>Euthanized</option>
								<option>Returned</option>
							  </select>
							</div>
							<label class="control-label col-xs-1" for="date">Date Disposed</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="datedisposed" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">	
							
						</div>
						<div class="form-group">
							<label for="herdnumberlocation" class="control-label col-xs-1">Herd Number Location</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="herdnumberlocation" placeholder="Herd Number Location">
							</div>
							<label for="herdstatus" class="control-label col-xs-1">Herd Status</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="herdstatus" placeholder="Herd Status">
							</div>
							<label for="howconceived" class="control-label col-xs-1">How Conceived</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="howconceived" placeholder="How Conceived">
							</div>
							<label for="managementcode" class="control-label col-xs-1">Management Code</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="managementcode" placeholder="Management Code">
							</div>
						</div>
						<div class="form-group">
							<label for="ownerid" class="control-label col-xs-1">Owner ID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="ownerID" placeholder="Owner ID">
							</div>
							<label for="springfall" class="control-label col-xs-1">Spring/Fall</label>
							<div class="col-xs-2">
							  <select class="form-control" id="springfall">
								<option></option>
								<option>Spring</option>
								<option>Fall</option>
							  </select>
							</div>
							<label for="includeinlookups" class="control-label col-xs-1">Include in Lookups</label>
							<div class="col-xs-2">
							  <select class="form-control" id="includeinlookups">
								<option></option>
								<option>Yes</option>
								<option>No</option>
							  </select>
							</div>
						</div>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_experiment">
					<form class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="dam" class="control-label col-xs-1">Dam</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" id="damexperiment" placeholder="Dam" disabled>
							</div>
							<label for="sire" class="control-label col-xs-1">Sire</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" id="sireexperiment" placeholder="Sire" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="birthweight" class="control-label col-xs-1">Birth Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="birthweight" placeholder="Birth Weight">
							</div>
							<label for="birthweightadj" class="control-label col-xs-1">Birth Weight Adj</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="birthweightadj" placeholder="Birth Weight Adj">
							</div>
						</div>
						<div class="form-group">
							<label for="sireframescore" class="control-label col-xs-1">Sire Frame Score</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="sireframescore" placeholder="Sire Frame Score">
							</div>
							<label class="control-label col-xs-1" for="date">D.O.B</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dobexperiment" name="date" placeholder="MM/DD/YYYY" type="text" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="bcsprevious" class="control-label col-xs-1">BCS Previous</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="bcsprevious" placeholder="BCS Previous">
							</div>
							<label for="bcsdifference" class="control-label col-xs-1">BCS Difference</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="bcsdifference" placeholder="BCS Difference">
							</div>
							<label for="bcsrecent" class="control-label col-xs-1">BCS Recent Date</label>
							<div class="col-xs-2">
								<input class="form-control" id="bcsrecent" name="date" placeholder="MM/DD/YYYY" type="text">
							</div>
						</div>
						<div class="form-group">
							<label for="damwtatwean" class="control-label col-xs-1">Dam Wt at Wean</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="damwtatwean" placeholder="Dam Wt at Wean">
							</div>
							<label for="weanheight" class="control-label col-xs-1">Wean Height</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="weanheight" placeholder="Wean Height">
							</div>
							<label for="weanweight" class="control-label col-xs-1">Wean Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="weanweight" placeholder="Wean Weight">
							</div>
							<label class="control-label col-xs-1" for="date">Wean Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="weandate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="weangpd" class="col-xs-1 control-label">Wean GPD</label>
							<div class="col-xs-2">
								<input type="text" id="weangpd" class="form-control" placeholder="Wean GPD">
							</div>
							<label for="weanhipht" class="col-xs-1 control-label">Wean Hip ht</label>
							<div class="col-xs-2">
								<input type="text" id="weanhipht" class="form-control" placeholder="Wean Hip ht">
							</div>
							<label for="weanwda" class="col-xs-1 control-label">Wean WDA</label>
							<div class="col-xs-2">
								<input type="text" id="weanwda" class="form-control" placeholder="Wean WDA">
							</div>
							<label for="weanweightdate" class="col-xs-1 control-label">Wean Weight Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="weanweightdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<fieldset disabled>
							<div class="form-group">
								<label for="adjustedweight" class="col-xs-1 control-label">Adj 205d weight</label>
								<div class="col-xs-2">
									<input type="text" id="adj205w" class="form-control" placeholder="Adjusted Weight">
								</div>
								<label for="adjusted_height" class="col-xs-1 control-label">Adj 205d height</label>
								<div class="col-xs-2">
									<input type="text" id="adj205h" class="form-control" placeholder="Adjusted Height">
								</div>
								<label for="weanframescore" class="col-xs-1 control-label">Wean Frame Score</label>
								<div class="col-xs-2">
									<input type="text" id="weanframescore" class="form-control" placeholder="Wean Frame Score">
								</div>
								<label for="agewean" class="col-xs-1 control-label">Age at Wean</label>
								<div class="col-xs-2">
									<input type="text" id="ageatwean" class="form-control" placeholder="Age at Wean">
								</div>
							</div>
						</fieldset>
						<div class="form-group">
							<label for="yearlingweight" class="control-label col-xs-1">Yearling Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="yearlingweight" placeholder="Yearling Weight">
							</div>
							<label for="yearlingheight" class="control-label col-xs-1">Yearling Height</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="yearlingheight" placeholder="Yearling Height">
							</div>
							<label class="control-label col-xs-1" for="date">Yearling Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="yearlingdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<fieldset disabled>
							<div class="form-group">
								<label for="adjustedyearlingweight" class="col-xs-1 control-label">Adj Yearling weight</label>
								<div class="col-xs-2">
									<input type="text" id="adjyearlingw" class="form-control" placeholder="Adjusted Yearling Weight">
								</div>
								<label for="adjustedyearlingheight" class="col-xs-1 control-label">Adj Yearling height</label>
								<div class="col-xs-2">
									<input type="text" id="adjyearlingh" class="form-control" placeholder="Adjusted Yearling Height">
								</div>
								<label for="yearlingframescore" class="col-xs-1 control-label">Yearling Frame Score</label>
								<div class="col-xs-2">
									<input type="text" id="yearlingframescore" class="form-control" placeholder="Yearling Frame Score">
								</div>
								<label for="ageyearling" class="col-xs-1 control-label">Age at Yearling</label>
								<div class="col-xs-2">
									<input type="text" id="ageatyearling" class="form-control" placeholder="Age at Yearling">
								</div>
							</div>
						</fieldset>
						<div class="form-group">
							<label for="currentwtcow" class="col-xs-1 control-label">Current Wt Cow</label>
							<div class="col-xs-2">
								<input type="text" id="currentwtcow" class="form-control" placeholder="Current Wt Cow">
							</div>
							<label for="adj365dht" class="col-xs-1 control-label">Adj 365d Height</label>
							<div class="col-xs-2">
								<input type="text" id="adj365dht" class="form-control" placeholder="Adj 365d Height">
							</div>
							<label for="customweight" class="col-xs-1 control-label">Custom Weight</label>
							<div class="col-xs-2">
								<input type="text" id="customweight" class="form-control" placeholder="Custom Weight">
							</div>
							<label class="control-label col-xs-1" for="date">Custom Weight Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="customweightdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="currentwtheifer" class="col-xs-1 control-label">Current Wt Heifer</label>
							<div class="col-xs-2">
								<input type="text" id="currentwtheifer" class="form-control" placeholder="Current Wt Heifer">
							</div>
							<label for="customheight" class="col-xs-1 control-label">Custom Height</label>
							<div class="col-xs-2">
								<input type="text" id="customheight" class="form-control" placeholder="Custom Height">
							</div>
							<label class="control-label col-xs-1" for="customheightdate">Custom Height Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="customheightdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="backfat" class="col-xs-1 control-label">Back Fat</label>
							<div class="col-xs-2">
								<input type="text" id="backfat" class="form-control" placeholder="Back Fat">
							</div>
							<label for="treatment" class="col-xs-1 control-label">Treatment</label>
							<div class="col-xs-2">
							  <select class="form-control" id="treatment">
								<option></option>
								<option>Steer</option>
								<option>Heifer</option>
								<option>Bull</option>
								<option>Cow</option>
							  </select>
							</div>
							<label for="blockpen" class="col-xs-1 control-label">Block/Pen</label>
							<div class="col-xs-2">
								<input type="text" id="blockpen" class="form-control" placeholder="Block/Pen">
							</div>
							<label for="replicate" class="col-xs-1 control-label">Replicate</label>
							<div class="col-xs-2">
								<input type="text" id="replicate" class="form-control" placeholder="Replicate">
							</div>
						</div>
						<table id="experiment_table" class="display" cellspacing="0" width="90%">
							<thead>
								<tr>
									<th>Cownumber</th>
									<th>Wean Date</th>
									<th>Weaning Frame Score</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Cownumber</th>
									<th>Wean Date</th>
									<th>Weaning Frame Score</th>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_reproduction">
					<div class="form-horizontal" style="margin-top:15px;">
						<div class= "form-group">
							<label for="breeding" class="control-label col-xs-1">Breeding</label>
							<div class="col-xs-2">
							  <select class="form-control" id="breeding">
								<option></option>
								<option>Bull-1</option>
								<option>Bull-2</option>
								<option>Bull-3</option>
								<option>Bull-4</option>
								<option>Bull-5</option>
								<option>Bull-6</option>
								<option>Bull-7</option>
							  </select>
							</div>
							<label for="pregnancy" class="col-xs-1 control-label">Pregnancy</label>
							<div class="col-xs-2">
							  <select class="form-control" id="pregnancy">
								<option></option>
								<option>Pregnant</option>
								<option>Open</option>
							  </select>
							</div>
							<label for="pasturenumberreproduction" class="col-xs-1 control-label">Pasture Number Reproduction</label>
							<div class="col-xs-2">
								<input type="text" id="pasturenumberreproduction" class="form-control" placeholder="Pasture Number Reproduction">
							</div>
							<label for="siblingcode" class="control-label col-xs-1">Sibling Code</label>
							<div class="col-xs-2">
							  <select class="form-control" id="siblingcode">
								<option></option>
								<option>Single</option>
								<option>Twin</option>
							  </select>
							</div>
						</div>
						<fieldset disabled>
							<div class="form-group">
								<label for="calfatside" class="col-xs-1 control-label">Calf at Side</label>
								<div class="col-xs-2">
									<input type="text" id="calfatside" class="form-control" placeholder="Calf at Side">
								</div>
								<label for="totalcalves" class="col-xs-1 control-label">Total Calves</label>
								<div class="col-xs-2">
									<input type="text" id="totalcalves" class="form-control" placeholder="Total Calves">
								</div>
								<label for="previouscalf" class="col-xs-1 control-label">Previous Calf</label>
								<div class="col-xs-2">
									<input type="text" id="previouscalf" class="form-control" placeholder="Previous Calf">
								</div>
								<label for="damagebirth" class="col-xs-1 control-label">Dam Age at Birth</label>
								<div class="col-xs-2">
									<input type="text" id="damageatbirth" class="form-control" placeholder="Dam Age at Birth">
								</div>
							</div>
						</fieldset>
						<div class="form-group">
								<label for="currentcalf" class="col-xs-1 control-label">Current Calf</label>
								<div class="col-xs-2">
									<input type="text" id="currentcalf" class="form-control" placeholder="Current Calf">
								</div>
								<label for="calfdob" class="col-xs-1 control-label">Calf DOB</label>
								<div class="col-xs-2">
									<input type="text" id="calfdob" class="form-control" name="date" placeholder="Calf DOB">
								</div>
								<label for="calfsex" class="col-xs-1 control-label">Calf Sex</label>
								<div class="col-xs-2">
								  <select class="form-control" id="calfsex">
									<option></option>
									<option>Steer</option>
									<option>Heifer</option>
									<option>Bull</option>
									<option>Cow</option>
								  </select>
								</div>
								<label for="birthweight" class="col-xs-1 control-label">Calf Birth Weight</label>
								<div class="col-xs-2">
									<input type="text" id="calfbirthweight" class="form-control" placeholder="Birth Weight">
								</div>
							</div>
							<div class="form-group">
								<label for="damcalvingdisposition" class="col-xs-1 control-label">Dam Calving Disposition</label>
								<div class="col-xs-2">
									<select class="form-control" id="damcalvingdisposition">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="calvingease" class="col-xs-1 control-label">Calving Ease</label>
								<div class="col-xs-2">
									<select class="form-control" id="calvingease">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="udderscore" class="col-xs-1 control-label">Udder Score</label>
								<div class="col-xs-2">
									<input type="text" id="udderscore" class="form-control" placeholder="Udder Score">
								</div>
								<label for="conditionscorecalving" class="control-label col-xs-1">Condition Score Calving</label>
								<div class="col-xs-2">
									<input type="text" class="form-control" id="conditionscorecalving" placeholder="Condition Score Calving 2016">
								</div>
							</div>
							<div class="form-group">
								<label for="hiphtweaning2015" class="control-label col-xs-1">Hip Ht Weaning 2015</label>
								<div class="col-xs-2">
									<input type="text" class="form-control" id="hiphtweaning2015" placeholder="Hip Ht Weaning 2015">
								</div>
								<label for="hiphtweaning2016" class="control-label col-xs-1">Hip Ht Weaning 2016</label>
								<div class="col-xs-2">
									<input type="text" class="form-control" id="hiphtweaning2016" placeholder="Hip Ht Weaning 2016">
								</div>
								<label for="hiphtbreeding2016" class="control-label col-xs-1">Hip Ht Breeding 2016</label>
								<div class="col-xs-2">
									<input type="text" class="form-control" id="hiphtbreeding2016" placeholder="Hip Ht Breeding 2016">
								</div>
							</div>
							<br>
							<h2>Cow Measurements</h2>
							<div class="form-group">
								<label for="damdisposition" class="col-xs-1 control-label">Dam Disposition</label>
								<div class="col-xs-2">
									<select class="form-control" id="damdisposition">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="cowframescore" class="col-xs-1 control-label">Cow Frame Score</label>
								<div class="col-xs-2">
									<fieldset disabled>
										<input type="text" id="cowframescore" class="form-control" placeholder="Cow Frame Score">
									</fieldset>
								</div>
								<label for="cowwtbreeding" class="col-xs-1 control-label">Cow Wt Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="cowwtbreeding" class="form-control" placeholder="Cow Wt Breeding">
								</div>
								<label for="cowhtbreeding" class="col-xs-1 control-label">Cow Ht Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="cowhtbreeding" class="form-control" placeholder="Cow Ht Breeding">
								</div>
							</div>
							<div class="form-group">
								<label for="cowwtweaning" class="col-xs-1 control-label">Cow wt Weaning</label>
								<div class="col-xs-2">
										<input type="text" id="cowwtweaning" class="form-control" placeholder="Cow wt Weaning">
								</div>
								<label for="cowhtweaning" class="col-xs-1 control-label">Cow ht Weaning</label>
								<div class="col-xs-2">
										<input type="text" id="cowhtweaning" class="form-control" placeholder="Cow ht Weaning">
								</div>
								<label for="cowwtcalving" class="col-xs-1 control-label">Cow wt Calving</label>
								<div class="col-xs-2">
										<input type="text" id="cowwtcalving" class="form-control" placeholder="Cow wt Calving">
								</div>
								<label for="cowhtcalving" class="col-xs-1 control-label">Cow ht Calving</label>
								<div class="col-xs-2">
										<input type="text" id="cowhtcalving" class="form-control" placeholder="Cow ht Calving">
								</div>
							</div>
							<div class="form-group">
								<label for="bcsweaning" class="col-xs-1 control-label">B.C.S Weaning</label>
								<div class="col-xs-2">
										<input type="text" id="bcsweaning" class="form-control" placeholder="B.C.S Weaning">
								</div>
								<label for="bcscalving" class="col-xs-1 control-label">B.C.S Calving</label>
								<div class="col-xs-2">
										<input type="text" id="bcscalving" class="form-control" placeholder="B.C.S Calving">
								</div>
								<label for="bcsbreeding" class="col-xs-1 control-label">B.C.S Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="bcsbreeding" class="form-control" placeholder="B.C.S Breeding">
								</div>
							</div>
							<div calss="form-group">
								<label for="customcowwt" class="col-xs-1 control-label">Custom Cow wt</label>
								<div class="col-xs-2">
										<input type="text" id="customcowwt" class="form-control" placeholder="Custom Cow wt">
								</div>
								<label for="customcowht" class="col-xs-1 control-label">Custom Cow ht</label>
								<div class="col-xs-2">
										<input type="text" id="customcowht" class="form-control" placeholder="Custom Cow ht">
								</div>
							</div>
							<br>
							<br>
							<h2>Bull Measurements</h2>
							<div class="form-group">
								<label for="bulldisposition" class="col-xs-1 control-label">Bull Disposition</label>
								<div class="col-xs-2">
									<select class="form-control" id="bulldisposition">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="bullframescore" class="col-xs-1 control-label">Bull Frame Score</label>
								<div class="col-xs-2">
									<fieldset disabled>
										<input type="text" id="bullframescore" class="form-control" placeholder="Bull Frame Score">
									</fieldset>
								</div>
								<label for="bullwtprebreeding" class="col-xs-1 control-label">Bull Wt Pre-Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="bullwtprebreeding" class="form-control" placeholder="Bull Wt Pre-Breeding">
								</div>
								<label for="bullhtprebreeding" class="col-xs-1 control-label">Bull Ht Pre-Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="bullhtprebreeding" class="form-control" placeholder="Bull Ht Pre-Breeding">
								</div>
							</div>
							<div class="form-group">
								<label for="fertility" class="col-xs-1 control-label">Fertility</label>
								<div class="col-xs-2">
										<input type="text" id="fertility" class="form-control" placeholder="Fertility">
								</div>
								<label for="mobility" class="col-xs-1 control-label">Mobility</label>
								<div class="col-xs-2">
										<input type="text" id="mobility" class="form-control" placeholder="Mobility">
								</div>	
								<label for="conc" class="col-xs-1 control-label">Conc.</label>
								<div class="col-xs-2">
										<input type="text" id="conc" class="form-control" placeholder="Conc.">
								</div>
								<label for="deadabnormal" class="col-xs-1 control-label">%Dead/Abnormal</label>
								<div class="col-xs-2">
										<input type="text" id="deadabnormal" class="form-control" placeholder="%Dead/Alive">
								</div>
							</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_medical">
					<div class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="reasonforprocedure" class="control-label col-xs-1">Reason for Procedure</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="reasonforprocedure" placeholder="Reason for Procedure">
							</div>
							<label for="notificationofvmo" class="control-label col-xs-1">Notification of VMO</label>
							<div class="col-xs-2">
							  <select class="form-control" id="notificationofvmo">
								<option></option>
								<option>None</option>
								<option>Site Visit</option>
								<option>Email</option>
								<option>Phone</option>
								<option>Text</option>
							  </select>
							</div>
							<label for="recommendationofvmo" class="control-label col-xs-1">Recommendation of VMO</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="recommendationofvmo" placeholder="Recommendation of VMO">
							</div>
							<label for="treatmentprotocol" class="control-label col-xs-1">Treatment Protocol</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="treatmentprotocol" placeholder="Treatment Protocol">
							</div>
						</div>
						<div class="form-group">
							<label for="animallocationpreresolution" class="control-label col-xs-1">Animal Location Pre-resolution</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animallocationpreresolution" placeholder="Animal Location Pre-resolution">
							</div>
							<label for="followupexam" class="control-label col-xs-1">Follow-up Exam</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="followupexam" placeholder="Follow-up Exam">
							</div>
							<label for="resolution" class="control-label col-xs-1">Resolution</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="resolution" placeholder="Resolution">
							</div>
							<label class="control-label col-xs-1" for="dateoffollowup">Date of Followup Exam</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dateoffollowup" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="animallocation" class="control-label col-xs-1">Animal Location</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animallocation" placeholder="Animal Location">
							</div>
							<label class="control-label col-xs-1" for="dateofaction">Date of Action</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dateofaction" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
							<p>Importing PDFs coming soon</p>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Pharmaceuticals</h2>
							  <table class="table table-hover">
								<thead>
								  <tr>
									<th>Name/Number</th>
									<th>Pharmaceutical Name</th>
									<th>Pharmaceutical Amount</th>
									<th>Route of Administration</th>
									<th>Location of Administration</th>
									<th>Withdrawal Time</th>
									<th>Documents</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>123</td>
									<td>xyz</td>
									<td>$$$</td>
									<td>abc</td>
									<td>pqr</td>
									<td>23 days</td>
									<td>docs</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Surgeries</h2>
							  <table class="table table-hover">
								<thead>
								  <tr>
									<th>Name/Number</th>
									<th>Type of Surgery</th>
									<th>Documents</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>123</td>
									<td>xyz</td>
									<td>docs</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_grazing">
					<div class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="pastureacres" class="control-label col-xs-1">Pasture Acres</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="pastureacres" placeholder="Pasture Acres">
							</div>
							<label for="animalspresent" class="control-label col-xs-1">Animals Present</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animalspresent" placeholder="Animals Present">
							</div>
							<label class="control-label col-xs-1" for="date">Date In</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="datein" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
							
							
						</div>
						<div class="form-group">
							<label for="stockingrate" class="control-label col-xs-1">Stocking Rate</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="stockingrate" placeholder="Stocking Rate">
							</div>
							<label class="control-label col-xs-1" for="date">Date Out</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dateout" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<h2>P Sampling</h2>
						<div class="form-group">
							<label for="pasturenumbergrazing" class="control-label col-xs-1">Pasture Number</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="pasturenumbergrazing" placeholder="Pasture Number">
							</div>
							<label for="sample" class="control-label col-xs-1">Sample</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="sample" placeholder="Sample">
							</div>
							<label for="biomass" class="control-label col-xs-1">BioMass</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="biomass" placeholder="Bio Mass">
							</div>
							<label for="DMavailable" class="control-label col-xs-1">DM Available</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="DMavailable" placeholder="DM Available">
							</div>
						</div>
						<div class="form-group">
							<label for="cp" class="control-label col-xs-1">CP</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="cp" placeholder="CP">
							</div>
							<label for="cp1" class="control-label col-xs-1">1</label>
							<div class="col-xs-1">
								<input type="text" class="form-control" id="cp1" placeholder="1">
							</div>
							<label for="cp2" class="control-label col-xs-1">2</label>
							<div class="col-xs-1">
								<input type="text" class="form-control" id="cp2" placeholder="2">
							</div>
							<label for="cp3" class="control-label col-xs-1">3</label>
							<div class="col-xs-1">
								<input type="text" class="form-control" id="cp3" placeholder="3">
							</div>
							<label for="cp4" class="control-label col-xs-1">4</label>
							<div class="col-xs-1">
								<input type="text" class="form-control" id="cp4" placeholder="4">
							</div>
						</div>
						<h2>Burning</h2>
						<div class="form-group">
							<label for="pasturenumberburning" class="control-label col-xs-1">Pasture Number</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="pasturenumberburning" placeholder="Pasture Number">
							</div>
							<label for="qualityofburn" class="control-label col-xs-1">Quality of Burn</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="qualityofburn" placeholder="Quality of Burn">
							</div>
							<label class="control-label col-xs-1" for="date">Date Burned</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dateburned" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<h2>Herbicide/Pesticide</h2>
						<div class="form-group">
							<label for="pasturenumberpesticide" class="control-label col-xs-1">Pasture Number</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="pasturenumberpesticide" placeholder="Pasture Number">
							</div>
							<label for="chemicalname" class="control-label col-xs-1">Chemical Name</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="chemicalname" placeholder="Chemical Name">
							</div>
							<label for="applicationrate" class="control-label col-xs-1">Application Rate</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="applicationrate" placeholder="Application Rate">
							</div>
							<label class="control-label col-xs-1" for="date">Application Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="applicationdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>P Sampling</h2>
							  <table id="table_P_sampling" class="display" cellspacing="0" width="90%">
								<thead>
								  <tr>
									<th>Pasture Number</th>
									<th>Sample</th>
									<th>Biomass</th>
									<th>DM Available</th>
									<th>CP</th>
									<th>1</th>
									<th>2</th>
									<th>3</th>
									<th>4</th>
								  </tr>
								</thead>
							  </table>
							</div>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Burning</h2>
							  <table id="table_burning" class="display" cellspacing="0" width="90%">
								<thead>
								  <tr>
									<th>Pasture Number</th>
									<th>Date Burned</th>
									<th>Quality of Burn</th>
								  </tr>
								</thead>
							  </table>
							</div>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Herbicide/Pesticide</h2>
							  <table id="table_pesticide" class="display" cellspacing="0" width="90%">
								<thead>
								  <tr>
									<th>Pasture Number</th>
									<th>Chemical Name</th>
									<th>Application Rate</th>
									<th>Application Date</th>
								  </tr>
								</thead>
							  </table>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="episode">
					<div class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="episodeid" class="control-label col-xs-1">Episode ID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="episodeid" placeholder="Episode ID">
							</div>
							<label for="type" class="control-label col-xs-1">Type</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="type" placeholder="Type">
							</div>
							<label for="animal_id" class="control-label col-xs-1">Animal ID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animal_id" placeholder="Animal ID">
							</div>
							<label for="start_date" class="control-label col-xs-1">Start Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="start_date" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="procedure_id" class="control-label col-xs-1">Procedure ID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="procedure_id" placeholder="Procedure ID">
							</div>
							<label for="med_id" class="control-label col-xs-1">Med ID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="med_id" placeholder="Med ID">
							</div>
							<label for="experiment_number" class="control-label col-xs-1">Experiment Number</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="experiment_number" placeholder="Experiment Number">
							</div>
							<label for="end_date" class="control-label col-xs-1">End Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="end_date" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<h2>Documents</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script type = "text/javascript" src="{{url_for('static', filename= 'js/dashboardscripts.js')}}"></script>
</html>
{% endblock %}
