{% extends "header.html" %}
{% block body %}
<html>
<head>
<script>
	<!-- $(document).ready(function(e){ -->
		<!-- var cownumber = getQueryVariable("cownumber") -->
		<!-- $("<li><a href='#1234'>$('#cownumber').val()</a></li>").appendTo( "#latestcow"); -->
	<!-- }); -->
	
</script>
	<script type = "text/javascript">
		$(function patchBasic() {
		$('#basic_update').click(function(e) {
			var cownumber = $('#cownumber').val()
			var basic = {
				cownumber : $('#cownumber').val(),
				height: $('#height').val(),
				weight : $('#weight').val(),
				eartag : $('#eartag').val(),
				eid : $('#eid').val(),
				sex : $('#sex option:selected').text(),
				pasturenumber : $('#pasturenumber option:selected').text(),
				breed : $('#breed').val(),
				status : $('#status option:selected').text(),
				trial : $('#trial option:selected').text(),
				herd : $('#herd').val(),
				animaltype : $('#animaltype option:selected').text()
				}
			//var patchdata = {"data" : { "attributes" : basic } };
				$.ajax({
					url: '/api/master_animal/'+cownumber,
					data: basic,
					datatype: 'json',
					type: 'PATCH',
					success: function(response) {
						console.log(response);
						$.notify("Basic Data Saved", "info");
					},
					error: function(error) {
						console.log(error)
						$.notify("Cow number already exist", "danger");
					}
				});
				e.preventDefault();
			});
		});
	</script>
	<script type = "text/javascript">
		$(function patchAnimalInventory() {

		$('#basic_update').click(function(e) {
			var cownumber = $('#cownumber').val()
			var animal_inventory = {
				brand : $('#brand').val(),
				brandlocation: $('#brandlocation option:selected').text(),
				tattooleft : $('#tattooleft').val(),
				tattooright : $('#tattooright').val(),
				alternativeid : $('#alternativeid').val(),
				registration: $('#registration').val(),
				color : $('#color').val(),
				hornstatus : $('#hornstatus option:selected').text(),
				dam : $('#dam').val(),
				sire : $('#sire').val(),
				dob : $('#dob').val(),
				howacquired : $('#howacquired option:selected').text(),
				dateacquired : $('#dateacquired').val(),
				howdisposed : $('#howdisposed option:selected').text(),
				datedisposed : $('#datedisposed').val(),
				disposalreason : $('#disposalreason').val()
				}
				$.ajax({
					url: '/api/animal_inventory/'+cownumber,
					data: animal_inventory,
					datatype: 'json',
					type: 'PATCH',
					success: function(animal_inventory) {
						console.log(animal_inventory)
						$.notify("Inventory Data Saved", "info");						
					},
					error: function(error) {
						console.log(error)
						$.notify("Check Error log", "error")
					}
				});
				e.preventDefault();
			});
		});
	</script>
	<script type = "text/javascript">
		$(function patchExperiment() {

		$('#basic_update').click(function(e) {
			var cownumber = $('#cownumber').val()
			var experiment = {
				dam : $('#damexperiment').val(),
				sire : $('#sireexperiment').val(),
				birthweight : $('#birthweight').val(),
				damframescore : $('#damframescore').val(),
				sireframescore : $('#sireframescore').val(),
				dob : $('#dobexperiment').val(),
				weanheight : $('#weanheight').val(),
				weanweight : $('#weanweight').val(),
				weandate : $('#weandate').val(),
				adj205w : $('#adj205w').val(),
				adj205h : $('#adj205h').val(),
				weanframescore : $('#weanframescore').val(),
				ageatwean : $('#ageatwean').val(),
				yearlingweight : $('#yearlingweight').val(),
				yearlingheight : $('#yearlingheight').val(),
				yearlingdate : $('#yearlingdate').val(),
				adjyearlingh : $('#adjyearlingh').val(),
				adjyearlingw : $('#adjyearlingw').val(),
				yearlingframescore : $('#yearlingframescore').val(),
				ageatyearling : $('#ageatyearling').val(),
				customweight : $('#customweight').val(),
				customheight : $('#customheight').val(),
				customheightdate : $('#customheightdate').val(),
				customweightdate : $('#customweightdate').val(),
				backfat : $('#backfat').val(),
				treatment : $('#treatment option:selected').text(),
				blockpen : $('#blockpen').val(),
				replicate : $('#replicate').val()
				}
				$.ajax({
					url: '/api/experiment/'+cownumber,
					data: experiment,
					datatype: 'json',
					type: 'PATCH',
					success: function(experiment) {
						console.log(experiment)
						$.notify("Experiment Data Saved", "info");
					},
					error: function(error) {
						console.log(error)
						$.notify("Input Experiment, Error log", "error")
					}
				});
				e.preventDefault();
			});
		});
	</script>
	<script>
		$(document).ready(function(){
			var cownumber = getQueryVariable("cownumber")
			basicget(cownumber);
			animal_inventoryget(cownumber);
			experimentget(cownumber);
			$("<li><a onclick='callall("+cownumber+")'> "+ cownumber + "</a></li>").prependTo( "#latestcow");
		});
	
	</script>

	<!-- Code to Load Data -->
<script type = "text/javascript">
	function basicget( variable) 
	{
		$(document).ready(function(e){
			$.ajax({
					url: '/api/master_animal/'+variable,
					data: {},
					type: 'GET',
					datatype : 'json',
					success: function(data) {
						console.log(data);
						var height = data.data.attributes.height;
						var weight = data.data.attributes.weight;
						var eartag = data.data.attributes.eartag;
						var eid = data.data.attributes.eid;
						var sex = data.data.attributes.sex;
						var pasturenumber = data.data.attributes.pasturenumber;
						var breed = data.data.attributes.breed;
						var status = data.data.attributes.status;
						var trial = data.data.attributes.trial;
						var herd = data.data.attributes.herd;
						var animaltype = data.data.attributes.animaltype;
						$('#cownumber').val(variable);
						$('#height').val(height);
						$('#weight').val(weight);
						$('#eartag').val(eartag);
						$('#eid').val(eid);
						$('#sex option:selected').text(sex);
						$('#pasturenumber option:selected').text(pasturenumber);
						$('#breed').val(breed);
						$('#status option:selected').text(status);
						$('#trial option:selected').text(trial);
						$('#herd').val(herd);
						$('#animaltype option:selected').text(animaltype);
					},
					error: function(error) {
						console.log(error)
						$.notify("Master_Animal Failed", "error")
						
					}
				});
		});
	return false;
	};
</script>
<script type = "text/javascript">
	function animal_inventoryget(variable) 
	{
		$(document).ready(function(e){
			$.ajax({
					url: '/api/animal_inventory/'+variable,
					data: {},
					type: 'GET',
					datatype : 'json',
					success: function(data) {
						console.log(data);
						
						var brand = data.data.attributes.brand;
						var brandlocation = data.data.attributes.brandlocation;
						var tattooleft = data.data.attributes.tattooleft;
						var tattooright = data.data.attributes.tattooright;
						var alternativeid = data.data.attributes.alternativeid;
						var registration = data.data.attributes.registration;
						var color  = data.data.attributes.color;
						var hornstatus  = data.data.attributes.hornstatus;
						var dam  = data.data.attributes.dam;
						var sire  = data.data.attributes.sire;
						var dob  = data.data.attributes.dob;
						var howacquired  = data.data.attributes.howacquired;
						var dateacquired  = data.data.attributes.dateacquired;
						var howdisposed  = data.data.attributes.howdisposed;
						var datedisposed  = data.data.attributes.datedisposed;
						var disposalreason  = data.data.attributes.disposalreason;
						$('#brand').val(brand);
						$('#brandlocation option:selected').text(brandlocation);
						$('#tattooleft').val(tattooleft);
						$('#tattooright').val(tattooright);
						$('#alternativeid').val(alternativeid);
						$('#registration').val(registration);
						$('#color').val(color);
						$('#hornstatus option:selected').text(hornstatus);
						<!-- $('#dam').val(dam); -->
						<!-- $('#sire').val(sire); -->
						<!-- $('#dob').val(dob); -->
						$('#howacquired option:selected').text(howacquired);
						$('#dateacquired').val(dateacquired);
						$('#howdisposed option:selected').text(howdisposed);
						$('#datedisposed').val(datedisposed);
						$('#disposalreason').val(disposalreason);
					},
					error: function(error) {
						console.log(error)
						$.notify("Animal_Inventory Failed", "error")
					}
				});
		});

	};
</script>
<script type = "text/javascript">
	function experimentget(variable) 
	{
		$(document).ready(function(e){
			$.ajax({
					url: '/api/experiment/'+variable,
					data: {},
					type: 'GET',
					datatype : 'json',
					success: function(data) {
						console.log(data);
						
						var birthweight = data.data.attributes.birthweight;
						var damframescore = data.data.attributes.damframescore;
						var sireframescore = data.data.attributes.sireframescore;
						var weanheight = data.data.attributes.weanheight;
						var weanweight = data.data.attributes.weanweight;
						var weandate = data.data.attributes.weandate;
						var adj205w  = data.data.attributes.adj205w;
						var adj205h  = data.data.attributes.adj205h;
						var weanframescore  = data.data.attributes.weanframescore;
						var ageatwean  = data.data.attributes.ageatwean;
						var yearlingweight  = data.data.attributes.yearlingweight;
						var yearlingheight  = data.data.attributes.yearlingheight;
						var yearlingdate  = data.data.attributes.yearlingdate;
						var adjyearlingw  = data.data.attributes.adjyearlingw;
						var adjyearlingh  = data.data.attributes.adjyearlingh;
						var yearlingframescore  = data.data.attributes.yearlingframescore;
						var ageatyearling  = data.data.attributes.ageatyearling;
						var customweight  = data.data.attributes.customweight;
						var customheight  = data.data.attributes.customheight;
						var customweightdate  = data.data.attributes.customweightdate;
						var customheightdate  = data.data.attributes.customheightdate;
						var backfat  = data.data.attributes.backfat;
						var treatment  = data.data.attributes.treatment;
						var blockpen  = data.data.attributes.blockpen;
						var replicate  = data.data.attributes.replicate;
						var dam  = data.data.attributes.dam;
						var sire  = data.data.attributes.sire;
						var dob  = data.data.attributes.dob;						
						$('#birthweight').val(birthweight);
						$('#damframescore').val(damframescore);
						$('#sireframescore').val(sireframescore);
						$('#weanheight').val(weanheight);
						$('#weanweight').val(weanweight);
						$('#weandate').val(weandate);
						$('#adj205w').val(adj205w);
						$('#adj205h').val(adj205h);
						$('#weanframescore').val(weanframescore);
						$('#ageatwean').val(ageatwean);
						$('#yearlingheight').val(yearlingheight);
						$('#yearlingweight').val(yearlingweight);
						$('#yearlingdate').val(yearlingdate);
						$('#adjyearlingh').val(adjyearlingh);
						$('#adjyearlingw').val(adjyearlingw);
						$('#yearlingframescore').val(yearlingframescore);
						$('#ageatyearling').val(ageatyearling);
						$('#customweight').val(customweight);
						$('#customheight').val(customheight);
						$('#weanframescore').val(weanframescore);
						$('#customheightdate').val(customheightdate);
						$('#customweightdate').val(customweightdate);
						$('#backfat').val(backfat);
						$('#blockpen').val(blockpen);
						$('#replicate').val(replicate);
						$('#dam').val(dam);
						$('#sire').val(sire);
						$('#dob').val(dob);
						$('#damexperiment').val(dam);
						$('#sireexperiment').val(sire);
						$('#dobexperiment').val(dob);
						$('#treatment option:selected').text(treatment);
					},
					error: function(error) {
						console.log(error)
						$.notify("Experiment GET Failed", "error")
					}
				});
		});

	};
</script>
</head>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-2 sidebar-nav">  
			<div style="margin-bottom:30px;max-height:400px;overflow-y:scroll;">
                <h4 style="margin:0px auto; padding-bottom:5px;" align="center">Cow Numbers</h4>
				<ul id="latestcow" class=" scrollable-menu">					
                </ul>
			</div>
			<div class="col-xs-2 sidebar-nav">
				<button id="basic_update" method="POST" class='btn btn-default'>Update</button></a>
			</div>
		</div>
		<div class="col-xs-10">
			<div style="margin-bottom:100px;">
				<div class="form-group" >
					<fieldset disabled>
					<label for="cownumber" class="control-label col-xs-1">Cow Number</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="cownumber" name="cownumber" placeholder="Cow Number">
					</div>
					<label for="cowname" class="control-label col-xs-1">Cow Name</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="cowname" placeholder="Cow Name">
					</div>
					<label for="eartag" class="control-label col-xs-1">Ear Tag</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="eartag" placeholder="Ear Tag">
					</div>
					<label for="eid" class="control-label col-xs-1">EID</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="eid" placeholder="Eid">
					</div>
					</fieldset>
				</div>
				<div class="form-group">
					<label for="sex" class="control-label col-xs-1">Sex</label>
						<div class="col-xs-2">
						  <select class="form-control" id="sex">
							<option>Steer</option>
							<option>Heifer</option>
							<option>Bull</option>
							<option>Cow</option>
						  </select>
						</div>
					<label for="pasturenumber" class="control-label col-xs-1">Pasture Number</label>
					<div class="col-xs-2">
					  <select class="form-control" id="pasturenumber">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
					  </select>
					</div>
					<label for="trial" class="control-label col-xs-1">Trial</label>
					<div class="col-xs-2">
					  <select class="form-control" id="trial">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
					  </select>
					</div>
					<label for="herd" class="control-label col-xs-1">Herd</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="herd" placeholder="Herd">
					</div>
				</div>
			</div>
	  <!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
			<li role="presentation"><a href="#calf_inventory" aria-controls="calf_inventory" role="tab" data-toggle="tab">Animal Inventory</a></li>
			<li role="presentation"><a href="#calf_experiment" aria-controls="calf_experiment" role="tab" data-toggle="tab">Experiment</a></li>
			<li role="presentation"><a href="#calf_reproduction" aria-controls="calf_reproduction" role="tab" data-toggle="tab">Reproduction</a></li>
			<li role="presentation"><a href="#calf_medical" aria-controls="calf_medical" role="tab" data-toggle="tab">Medical</a></li>
			<li role="presentation"><a href="#calf_grazing" aria-controls="calf_grazing" role="tab" data-toggle="tab">Grazing</a></li>
		</ul>

		  <!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="basics">
					<form id="basics" method="POST" class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="height" class="control-label col-xs-1">Height</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="height" name="height" placeholder="Height">
							</div>
							<label for="weight" class="control-label col-xs-1">Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="weight" name="weight" placeholder="Weight">
							</div>
							<label for="breed" class="control-label col-xs-1">Breed</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="breed" placeholder="Breed">
							</div>
						</div>
						<div class= "form-group">
							<label for="animaltype" class="control-label col-xs-1">Animal Type</label>
							<div class="col-xs-2">
							  <select class="form-control" id="animaltype">
								<option>Cow</option>
								<option>Bull</option>
								<option>Calf</option>
								<option>Steer</option>
								<option>Heifer</option>
							  </select>
							</div>
							<label for="status" class="control-label col-xs-1">Status</label>
							<div class="col-xs-2">
							  <select class="form-control" id="status">
								<option>Active</option>
								<option>Inactive</option>
							  </select>
							</div>
						</div>
						<fieldset disabled>
						  <div class="form-group">
							<label for="currentframescore" class="col-xs-1 control-label">Frame Score</label>
							<div class="col-xs-4">
							  <input type="text" id="currentframescore" class="form-control" placeholder="Current Frame Score">
							</div>
						  </div>
						</fieldset>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_inventory">
					<form class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="brand" class="control-label col-xs-1">Brand</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="brand" placeholder="Brand">
							</div>
							<label for="brandlocation" class="control-label col-xs-1">Brand Location</label>
							<div class="col-xs-2">
							  <select class="form-control" id="brandlocation">
								<option>Left Hip</option>
								<option>Right Hip</option>
							  </select>
							</div>
							<label for="tattooleft" class="control-label col-xs-1">Tattoo Left</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="tattooleft" placeholder="Tattoo Left">
							</div>
							<label for="tattooright" class="control-label col-xs-1">Tattoo Right</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="tattooright" placeholder="Tattoo Right">
							</div>
							
						</div>
						<div class="form-group">
							
							<label for="alternativeid" class="control-label col-xs-1">Alternative ID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="alternativeid" placeholder="Alternative ID">
							</div>
							<label for="registration" class="control-label col-xs-1">Registration</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="registration" placeholder="Registration">
							</div>
							<label for="color" class="control-label col-xs-1">Color</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="color" placeholder="Color">
							</div>
						</div>
						<div class="form-group">
							<label for="hornstatus" class="control-label col-xs-1">Horn Status</label>
							<div class="col-xs-2">
							  <select class="form-control" id="hornstatus">
								<option>Polled</option>
								<option>Scurred</option>
								<option>Horned</option>
								<option>De-horned</option>
							  </select>
							</div>
							<label for="dam" class="control-label col-xs-1">Dam</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="dam" placeholder="Dam">
							</div>
							<label for="sire" class="control-label col-xs-1">Sire</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="sire" placeholder="Sire">
							</div>
							<label class="control-label col-xs-1" for="date">D.O.B</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dob" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="acquiredinfo" class="control-label col-xs-1">How Acquired</label>
							<div class="col-xs-2">
							  <select class="form-control" id="howacquired">
								<option>Raised</option>
								<option>Purchased</option>
								<option>Leased</option>
							  </select>
							</div>
							<label class="control-label col-xs-1" for="date">Date Acquired</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dateacquired" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="disposedinfo" class="control-label col-xs-1">How Disposed</label>
							<div class="col-xs-2">
							  <select class="form-control" id="howdisposed">
								<option>Sold</option>
								<option>Died</option>
								<option>Euthanized</option>
								<option>Returned</option>
							  </select>
							</div>
							<label class="control-label col-xs-1" for="date">Date Disposed</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="datedisposed" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">	
							<label for="disposalreason" class="control-label col-xs-1">Disposal Reason</label>
							<div class="col-xs-4">
								<input type="text" class="form-control" id="disposalreason" placeholder="Disposal Reason ">
							</div>
						</div>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_experiment">
					<form class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="dam" class="control-label col-xs-1">Dam</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="damexperiment" placeholder="Dam">
							</div>
							<label for="sire" class="control-label col-xs-1">Sire</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="sireexperiment" placeholder="Sire">
							</div>
							<label for="birthweight" class="control-label col-xs-1">Birth Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="birthweight" placeholder="Birth Weight">
							</div>
						</div>
						<div class="form-group">
							<label for="damframescore" class="control-label col-xs-1">Dam Frame Score</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="damframescore" placeholder="Dam Frame Score">
							</div>
							<label for="sireframescore" class="control-label col-xs-1">Sire Frame Score</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="sireframescore" placeholder="Sire Frame Score">
							</div>
							<label class="control-label col-xs-1" for="date">D.O.B</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dobexperiment" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="weanheight" class="control-label col-xs-1">Wean Height</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="weanheight" placeholder="Wean Height">
							</div>
							<label for="weanweight" class="control-label col-xs-1">Wean Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="weanweight" placeholder="Wean Weight">
							</div>
							<label class="control-label col-xs-1" for="date">Wean Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="weandate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<fieldset disabled>
							<div class="form-group">
								<label for="adjustedweight" class="col-xs-1 control-label">Adj 205d weight</label>
								<div class="col-xs-2">
									<input type="text" id="adj205w" class="form-control" placeholder="Adjusted Weight">
								</div>
								<label for="adjusted_height" class="col-xs-1 control-label">Adj 205d height</label>
								<div class="col-xs-2">
									<input type="text" id="adj205h" class="form-control" placeholder="Adjusted Height">
								</div>
								<label for="weanframescore" class="col-xs-1 control-label">Wean Frame Score</label>
								<div class="col-xs-2">
									<input type="text" id="weanframescore" class="form-control" placeholder="Wean Frame Score">
								</div>
								<label for="agewean" class="col-xs-1 control-label">Age at Wean</label>
								<div class="col-xs-2">
									<input type="text" id="ageatwean" class="form-control" placeholder="Age at Wean">
								</div>
							</div>
						</fieldset>
						<div class="form-group">
							<label for="yearlingweight" class="control-label col-xs-1">Yearling Weight</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="yearlingweight" placeholder="Yearling Weight">
							</div>
							<label for="yearlingheight" class="control-label col-xs-1">Yearling Height</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="yearlingheight" placeholder="Yearling Height">
							</div>
							<label class="control-label col-xs-1" for="date">Yearling Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="yearlingdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<fieldset disabled>
							<div class="form-group">
								<label for="adjustedyearlingweight" class="col-xs-1 control-label">Adj Yearling weight</label>
								<div class="col-xs-2">
									<input type="text" id="adjyearlingw" class="form-control" placeholder="Adjusted Yearling Weight">
								</div>
								<label for="adjustedyearlingheight" class="col-xs-1 control-label">Adj Yearling height</label>
								<div class="col-xs-2">
									<input type="text" id="adjyearlingh" class="form-control" placeholder="Adjusted Yearling Height">
								</div>
								<label for="yearlingframescore" class="col-xs-1 control-label">Yearling Frame Score</label>
								<div class="col-xs-2">
									<input type="text" id="yearlingframescore" class="form-control" placeholder="Yearling Frame Score">
								</div>
								<label for="ageyearling" class="col-xs-1 control-label">Age at Yearling</label>
								<div class="col-xs-2">
									<input type="text" id="ageatyearling" class="form-control" placeholder="Age at Yearling">
								</div>
							</div>
						</fieldset>
						<div class="form-group">
							<label for="customweight" class="col-xs-1 control-label">Custom Weight</label>
							<div class="col-xs-2">
								<input type="text" id="customweight" class="form-control" placeholder="Custom Weight">
							</div>
							<label class="control-label col-xs-1" for="date">Custom Weight Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="customweightdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="customheight" class="col-xs-1 control-label">Custom Height</label>
							<div class="col-xs-2">
								<input type="text" id="customheight" class="form-control" placeholder="Custom Height">
							</div>
							<label class="control-label col-xs-1" for="customheightdate">Custom Height Date</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="customheightdate" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="backfat" class="col-xs-1 control-label">Back Fat</label>
							<div class="col-xs-2">
								<input type="text" id="backfat" class="form-control" placeholder="Back Fat">
							</div>
							<label for="treatment" class="col-xs-1 control-label">Treatment</label>
							<div class="col-xs-2">
							  <select class="form-control" id="treatment">
								<option>Steer</option>
								<option>Heifer</option>
								<option>Bull</option>
								<option>Cow</option>
							  </select>
							</div>
							<label for="blockpen" class="col-xs-1 control-label">Block/Pen</label>
							<div class="col-xs-2">
								<input type="text" id="blockpen" class="form-control" placeholder="Block/Pen">
							</div>
							<label for="replicate" class="col-xs-1 control-label">Replicate</label>
							<div class="col-xs-2">
								<input type="text" id="replicate" class="form-control" placeholder="Replicate">
							</div>
						</div>
						<div class="container">
						  <h2>Table1</h2>
						  <p>The hover state on table rows:</p>
						  <table class="table table-hover">
							<thead>
							  <tr>
								<th>Firstname</th>
								<th>Lastname</th>
								<th>Email</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td>John</td>
								<td>Doe</td>
								<td>john@example.com</td>
							  </tr>
							  <tr>
								<td>Mary</td>
								<td>Moe</td>
								<td>mary@example.com</td>
							  </tr>
							  <tr>
								<td>July</td>
								<td>Dooley</td>
								<td>july@example.com</td>
							  </tr>
							</tbody>
						  </table>
						</div>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_reproduction">
					<div class="form-horizontal" style="margin-top:15px;">
						<div class= "form-group">
							<label for="breedingbulls" class="control-label col-xs-1">Breeding</label>
							<div class="col-xs-2">
							  <select class="form-control" id="breedingbulls">
								<option>Bull-1</option>
								<option>Bull-2</option>
								<option>Bull-3</option>
								<option>Bull-4</option>
								<option>Bull-5</option>
								<option>Bull-6</option>
								<option>Bull-7</option>
							  </select>
							</div>
							<label for="preganacy" class="col-xs-1 control-label">Pregnancy</label>
								<div class="col-xs-2">
								  <select class="form-control" id="pregnancy">
									<option>Pregnant</option>
									<option>Open</option>
								  </select>
								</div>
						</div>
						<fieldset disabled>
							<div class="form-group">
								<label for="calfatside" class="col-xs-1 control-label">Calf at Side</label>
								<div class="col-xs-2">
									<input type="text" id="calfatside" class="form-control" placeholder="Calf at Side">
								</div>
								<label for="totalcalves" class="col-xs-1 control-label">Total Calves</label>
								<div class="col-xs-2">
									<input type="text" id="totalcalves" class="form-control" placeholder="Total Calves">
								</div>
								<label for="previouscalf" class="col-xs-1 control-label">Previous Calf</label>
								<div class="col-xs-2">
									<input type="text" id="previouscalf" class="form-control" placeholder="Previous Calf">
								</div>
								<label for="damagebirth" class="col-xs-1 control-label">Dam Age at Birth</label>
								<div class="col-xs-2">
									<input type="text" id="damageatbirth" class="form-control" placeholder="Dam Age at Birth">
								</div>
							</div>
						</fieldset>
						<div class="form-group">
								<label for="currentcalf" class="col-xs-1 control-label">Current Calf</label>
								<div class="col-xs-2">
									<input type="text" id="currentcalf" class="form-control" placeholder="Current Calf">
								</div>
								<label for="dob" class="col-xs-1 control-label">D.O.B</label>
								<div class="col-xs-2">
									<input type="text" id="dob" class="form-control" placeholder="D.O.B">
								</div>
								<label for="calfsex" class="col-xs-1 control-label">Calf Sex</label>
								<div class="col-xs-2">
								  <select class="form-control" id="calfsex">
									<option>Steer</option>
									<option>Heifer</option>
									<option>Bull</option>
									<option>Cow</option>
								  </select>
								</div>
								<label for="birthweight" class="col-xs-1 control-label">Calf Birth Weight</label>
								<div class="col-xs-2">
									<input type="text" id="calfbirthweight" class="form-control" placeholder="Birth Weight">
								</div>
							</div>
							<div class="form-group">
								<label for="damcalvingdisposition" class="col-xs-1 control-label">Dam Calving Disposition</label>
								<div class="col-xs-2">
									<select class="form-control" id="damcalvingdisposition">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="calvingease" class="col-xs-1 control-label">Calving Ease</label>
								<div class="col-xs-2">
									<select class="form-control" id="calvingease">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="udderscore" class="col-xs-1 control-label">Udder Score</label>
								<div class="col-xs-2">
									<input type="text" id="udderscore" class="form-control" placeholder="Udder Score">
								</div>
							</div>
							<div class="form-group">
								<label for="comments" class="col-xs-1 control-label">Comments</label>
								<div class="col-xs-6">
									<input type="text" id="comments" class="form-control" placeholder="Comments">
								</div>
							</div>
							<br>
							<h2>Cow Measurements</h2>
							<div class="form-group">
								<label for="damdisposition" class="col-xs-1 control-label">Dam Disposition</label>
								<div class="col-xs-2">
									<select class="form-control" id="damdisposition">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="cowframescore" class="col-xs-1 control-label">Cow Frame Score</label>
								<div class="col-xs-2">
									<fieldset disabled>
										<input type="text" id="cowframescore" class="form-control" placeholder="Cow Frame Score">
									</fieldset>
								</div>
								<label for="cowwtbreeding" class="col-xs-1 control-label">Cow Wt Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="cowwtbreeding" class="form-control" placeholder="Cow Wt Breeding">
								</div>
								<label for="cowhtbreeding" class="col-xs-1 control-label">Cow Ht Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="cowhtbreeding" class="form-control" placeholder="Cow Ht Breeding">
								</div>
							</div>
							<div class="form-group">
								<label for="cowwtweaning" class="col-xs-1 control-label">Cow wt Weaning</label>
								<div class="col-xs-2">
										<input type="text" id="cowwtweaning" class="form-control" placeholder="Cow wt Weaning">
								</div>
								<label for="cowhtweaning" class="col-xs-1 control-label">Cow ht Weaning</label>
								<div class="col-xs-2">
										<input type="text" id="cowhtweaning" class="form-control" placeholder="Cow ht Weaning">
								</div>
								<label for="cowwtcalving" class="col-xs-1 control-label">Cow wt Calving</label>
								<div class="col-xs-2">
										<input type="text" id="cowwtcalving" class="form-control" placeholder="Cow wt Calving">
								</div>
								<label for="cowhtcalving" class="col-xs-1 control-label">Cow ht Calving</label>
								<div class="col-xs-2">
										<input type="text" id="cowhtcalving" class="form-control" placeholder="Cow ht Calving">
								</div>
							</div>
							<div class="form-group">
								<label for="bcsweaning" class="col-xs-1 control-label">B.C.S Weaning</label>
								<div class="col-xs-2">
										<input type="text" id="bcsweaning" class="form-control" placeholder="B.C.S Weaning">
								</div>
								<label for="bcscalving" class="col-xs-1 control-label">B.C.S Calving</label>
								<div class="col-xs-2">
										<input type="text" id="bcscalving" class="form-control" placeholder="B.C.S Calving">
								</div>
								<label for="bcsbreeding" class="col-xs-1 control-label">B.C.S Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="bcsbreeding" class="form-control" placeholder="B.C.S Breeding">
								</div>
							</div>
							<div calss="form-group">
								<label for="customcowwt" class="col-xs-1 control-label">Custom Cow wt</label>
								<div class="col-xs-2">
										<input type="text" id="customcowwt" class="form-control" placeholder="Custom Cow wt">
								</div>
								<label for="customcowht" class="col-xs-1 control-label">Custom Cow ht</label>
								<div class="col-xs-2">
										<input type="text" id="customcowht" class="form-control" placeholder="Custom Cow ht">
								</div>
							</div>
							<br>
							<br>
							<h2>Bull Measurements</h2>
							<div class="form-group">
								<label for="bulldamdisposition" class="col-xs-1 control-label">Dam Disposition</label>
								<div class="col-xs-2">
									<select class="form-control" id="bulldamdisposition">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<label for="bullframescore" class="col-xs-1 control-label">Bull Frame Score</label>
								<div class="col-xs-2">
									<fieldset disabled>
										<input type="text" id="bullframescore" class="form-control" placeholder="Bull Frame Score">
									</fieldset>
								</div>
								<label for="bullwtprebreeding" class="col-xs-1 control-label">Bull Wt Pre-Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="bullwtprebreeding" class="form-control" placeholder="Bull Wt Pre-Breeding">
								</div>
								<label for="bullhtprebreeding" class="col-xs-1 control-label">Bull Ht Pre-Breeding</label>
								<div class="col-xs-2">
										<input type="text" id="bullhtprebreeding" class="form-control" placeholder="Bull Ht Pre-Breeding">
								</div>
							</div>
							<div class="form-group">
								<label for="bullfertility" class="col-xs-1 control-label">Fertility</label>
								<div class="col-xs-2">
										<input type="text" id="bullfertility" class="form-control" placeholder="Fertility">
								</div>
								<label for="bullmobility" class="col-xs-1 control-label">Mobility</label>
								<div class="col-xs-2">
										<input type="text" id="bullmobility" class="form-control" placeholder="Mobility">
								</div>	
								<label for="bullconc" class="col-xs-1 control-label">Conc.</label>
								<div class="col-xs-2">
										<input type="text" id="bullconc" class="form-control" placeholder="Conc.">
								</div>
								<label for="bulldoa" class="col-xs-1 control-label">%Dead/Alive</label>
								<div class="col-xs-2">
										<input type="text" id="bulldoa" class="form-control" placeholder="%Dead/Alive">
								</div>
							</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_medical">
					<div class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="procedurereason" class="control-label col-xs-1">Reason for Procedure</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="procedurereason" placeholder="Reason for Procedure">
							</div>
							<label for="notificationvmo" class="control-label col-xs-1">Notification of VMO</label>
							<div class="col-xs-2">
							  <select class="form-control" id="notificationvmo">
								<option>None</option>
								<option>Site Visit</option>
								<option>Email</option>
								<option>Phone</option>
								<option>Text</option>
							  </select>
							</div>
							<label for="vmorecommendation" class="control-label col-xs-1">Recommendation of VMO</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="vmorecommendation" placeholder="Recommendation of VMO">
							</div>
							<label for="treatmentprotocol" class="control-label col-xs-1">Treatment Protocol</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="treatmentprotocol" placeholder="Treatment Protocol">
							</div>
						</div>
						<div class="form-group">
							<label for="animallocationpreres" class="control-label col-xs-1">Animal Location Pre-resolution</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animallocationpreres" placeholder="Animal Location Pre-resolution">
							</div>
							<label for="followupexam" class="control-label col-xs-1">Follow-up Exam</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="followupexam" placeholder="Follow-up Exam">
							</div>
							<label for="resolution" class="control-label col-xs-1">Resolution</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="resolution" placeholder="Resolution">
							</div>
							<label class="control-label col-xs-1" for="date">Date of Followup Exam</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label for="animallocation" class="control-label col-xs-1">Animal Location</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animallocation" placeholder="Animal Location">
							</div>
							<label class="control-label col-xs-1" for="date">Date of Action</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
							<p>Importing PDFs coming soon</p>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Pharmaceuticals</h2>
							  <table class="table table-hover">
								<thead>
								  <tr>
									<th>Name/Number</th>
									<th>Pharmaceutical Name</th>
									<th>Pharmaceutical Amount</th>
									<th>Route of Administration</th>
									<th>Location of Administration</th>
									<th>Withdrawal Time</th>
									<th>Documents</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>123</td>
									<td>xyz</td>
									<td>$$$</td>
									<td>abc</td>
									<td>pqr</td>
									<td>23 days</td>
									<td>docs</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Surgeries</h2>
							  <table class="table table-hover">
								<thead>
								  <tr>
									<th>Name/Number</th>
									<th>Type of Surgery</th>
									<th>Documents</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>123</td>
									<td>xyz</td>
									<td>docs</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="calf_grazing">
					<div class="form-horizontal" style="margin-top:15px;">
						<div class="form-group">
							<label for="pastureacres" class="control-label col-xs-1">Pasture Acres</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="pastureacres" placeholder="Pasture Acres">
							</div>
							<label for="animalspresent" class="control-label col-xs-1">Animals Present</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animalspresent" placeholder="Animals Present">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-1" for="date">Date In</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="datein" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-1" for="date">Date Out</label>
							<div class="input-group col-xs-2">
							   <input class="form-control" id="dateout" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<fieldset disabled>
								<label for="stockingrate" class="control-label col-xs-1">Stocking Rate</label>
								<div class="col-xs-2">
									<input type="text" class="form-control" id="stockingrate" placeholder="Stocking Rate">
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>P Sampling</h2>
							  <table class="table table-hover">
								<thead>
								  <tr>
									<th>Pasture Number</th>
									<th>Sample</th>
									<th>Biomass</th>
									<th>DM Available</th>
									<th>CP</th>
									<th>1</th>
									<th>2</th>
									<th>3</th>
									<th>4</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>123</td>
									<td>sample No.34</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Burning</h2>
							  <table class="table table-hover">
								<thead>
								  <tr>
									<th>Pasture Number</th>
									<th>Date Burned</th>
									<th>Quality of Burn</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>123</td>
									<td>MM/DD/YYYY</td>
									<td>75%</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
						<div class="form-group">
							<div class="container">
							  <h2>Herbicide/Pesticide</h2>
							  <table class="table table-hover">
								<thead>
								  <tr>
									<th>Pasture Number</th>
									<th>Chemical Name</th>
									<th>Application Rate</th>
									<th>Application Date</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>123</td>
									<td>xyz</td>
									<td>2acres/hour</td>
									<td>MM/DD/YYYY</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
{% endblock %}
