{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Add Experiment{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the Add Experiment page</h1>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-xs-12">
				<div style="margin-bottom:100px;">
					<form>
						<span class="input-group-addon" name="herdsearchradios">
							<input type="radio" name="type" value="animalname" checked="checked"> Animal Name
							<input type="radio" name="type" value="eid"> EID
							<input type="radio" name="type" value="eartag"> Ear Tag
						</span>
						<br>
						<div class="form-group" >
							<label for="animalname" class="control-label col-xs-1">Animal Names</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="animalname" name="animalname" placeholder="Animals Names">
							</div>
							<label for="eid" class="control-label col-xs-1">EID</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="eid" name="eid" placeholder="EID">
							</div>
							<label for="eartag" class="control-label col-xs-1">Ear Tag</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="eartag" name="eartag" placeholder="Ear Tag">
							</div>
						</div>
					</form>
					<hr width="50%" size="8" align="center">
					<form>
						<div class="form-group">
							<label for="herdname" class="control-label col-xs-1">Herd Name</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="herdname" placeholder="Herd Name">
							</div>
							<label for="herdnumber" class="control-label col-xs-1">Herd Number</label>
							<div class="col-xs-2">
								<input type="text" class="form-control" id="herdnumber" placeholder="Herd Number">
							</div>
							<a id="experiment_update_edit"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Create</button></a>
						</div>
						<hr width="50%" size="8" align="center">
						<div class="form-group">
							<label for="groupdescription" class="control-label col-xs-1">Group Description</label>
							<div class="col-xs-6">
								<input type="text" id="groupdescription" class="form-control" placeholder="Group Description">
							</div>
							
						</div>
						<hr width="50%" size="8" align="center">
						<hr width="50%" size="8" align="center">
						<div class="col-xs-6">
							<div class="form-control">
								<h4 style="margin:0px auto; padding-bottom:5px;" align="center"><input type="checkbox"  class="selectallexperiment">Experiment</h4>
								<br>
									<input type="checkbox" class="groupaddinput3" id="sireframescore" value="sireframescore">Sire Frame Score<br> 
									<input type="checkbox" class="groupaddinput3" id="weanheight" value="weanheight">Wean Height<br> 
									<input type="checkbox" class="groupaddinput3" id="weanweight" value="weanweight">Wean Weight<br> 
									<input type="checkbox" class="groupaddinput3" id="weandate" value="weandate">Wean Date<br> 
									<input type="checkbox" class="groupaddinput3" id="birthweight" value="birthweight">Birth Weight<br>  
									<input type="checkbox" class="groupaddinput3" id="yearlingheight" value="yearlingheight">Yearling Height<br>
									<input type="checkbox" class="groupaddinput3" id="yearlingweight" value="yearlingweight">Yearling Weight<br>
									<input type="checkbox" class="groupaddinput3" id="yearlingdate" value="yearlingdate">Yearling Date<br> 
									<input type="checkbox" class="groupaddinput3" id="customweight" value="customweight">Custom Weight<br> 
									<input type="checkbox" class="groupaddinput3" id="customweightdate" value="customweightdate">Custom Weight Date<br> 
									<input type="checkbox" class="groupaddinput3" id="customheight" value="customheight">Custom Height<br>
									<input type="checkbox" class="groupaddinput3" id="customheightdate" value="customheightdate">Custom Height Date<br>
									<input type="checkbox" class="groupaddinput3" id="blockpen" value="blockpen">Block/Pen<br> 
									<input type="checkbox" class="groupaddinput3" id="replicate" value="replicate">Replicate<br> 
									<input type="checkbox" class="groupaddinput3" id="backfat" value="backfat">Back Fat<br>
									<input type="checkbox" class="groupaddinput3" id="treatment" value="treatment">Treatment<br>
									<input type="checkbox" class="groupaddinput3" id="adj205w" value="adj205w">Adj205w<br>
									<input type="checkbox" class="groupaddinput3" id="adj205h" value="adj205h">Adj205h<br>
									<input type="checkbox" class="groupaddinput3" id="weanframescore" value="weanframescore">Wean Frame Score<br>
									<input type="checkbox" class="groupaddinput3" id="ageatwean" value="ageatwean">Age at Wean<br>
									<input type="checkbox" class="groupaddinput3" id="adjyearlingw" value="adjyearlingw">Adj Yearling Weight<br>
									<input type="checkbox" class="groupaddinput3" id="adjyearlingh" value="adjyearlingh">Adj Yearling Height<br>
									<input type="checkbox" class="groupaddinput3" id="yearlingframescore" value="yearlingframescore">Yearling Frame Score<br>
									<input type="checkbox" class="groupaddinput3" id="ageatyearling" value="ageatyearling">Age at Yearling<br>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	{% endblock %}

{% block experiment %} class="panel-collapse collapse in" {% endblock %}

</body>
</html>
