{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Update Experiment{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the View/Update Experiment page</h1>
	
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Experiment Number</th>
		  <th scope="col">Experiment Name</th>
		  <th scope="col">Animals in the experiment</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <th scope="row">1</th>
		  <td>1</td>
		  <td>Trial 1</td>
		  <td>1,2,3,4,5,6,7,8,9,10</td>
		</tr>
		<tr>
		  <th scope="row">2</th>
		  <td>2</td>
		  <td>Trial 2</td>
		  <td>11,12,13,14,15,16,17,18,19,20</td>
		</tr>
		<tr>
		  <th scope="row">3</th>
		  <td>3</td>
		  <td>Trial 3</td>
		  <td>21,22,23,24,25,26,27,28,29,30</td>
		</tr>
	  </tbody>
	</table>
	
	<button type="button" class="btn btn-primary btn-lg">Edit</button>
	<button type="button" class="btn btn-secondary btn-lg">Delete</button>
	{% endblock %}

{% block sidenav %}
<div class="sidenav">
    <ul class="vertical-nav">
        <li><a href="#">Animal<icd></icd></a>
			<ul class="child">
                <li><a href="/animal/list">List Animals</a></li>
                <li><a href="/animal/add">Add Animal</a></li>
                <li><a href="/animal/update">View/Update Animal</a></li>
            </ul></li>
        <li><a class="active" href="#">Experiment <icd></icd></a>
            <ul class="child">
                <li><a href="/experiment/add">Add Experiment</a></li>
                <li><a class="active" href="/experiment/update">View/Update Experiment</a></li>
            </ul>
        </li>
		<li><a href="#">Report <icd></icd></a>
            <ul class="child">
                <li><a href="/report/create">Create Report</a></li>
                <li><a href="/report/view">View Report</a></li>
            </ul>
        </li>
		<li><a href="#">Inventory <icd></icd></a>
            <ul class="child">
                <li><a href="/inventory/formulary">Formulary</a></li>
                <li><a href="/inventory/pasture">Pasture</a></li>
				<li><a href="/inventory/procedure">Procedure</a></li>
            </ul>
        </li>
		<li><a href="#">Inspection <icd></icd></a>
            <ul class="child">
                <li><a href="/inspection/submit">Submit Inspection</a></li>
                <li><a href="/inspection/view">View Inspection Reports</a></li>
            </ul>
        </li>
		<li><a href="#">Reproduction <icd></icd></a>
            <ul class="child">
                <li><a href="/reproduction/calfadd">Add Calf</a></li>
                <li><a href="/reproduction/calfview">View/Update Calf</a></li>
            </ul>
        </li>
		<li><a href="#">Herd <icd></icd></a>
            <ul class="child">
                <li><a href="/herd/create">Create Herd</a></li>
                <li><a href="/herd/view">View/Update Herd</a></li>
				<li><a href="/herd/grazing">Grazing</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
</body>
</html>
