{% extends "header.html" %}

{% block body %}
<body>
	<h1 align="center">Welcome to Group Add Page</h1>
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-xs-12">
				<div style="margin-bottom:100px;">
					<div class="form-group" >
						<label for="cownumbers" class="control-label col-xs-1">Cow Numbers</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="cownumbers" name="cownumbers" placeholder="Cow Numbers">
						</div>
						<label for="groupname" class="control-label col-xs-1">Group Name</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="groupname" placeholder="Group Name">
						</div>
						<label for="groupid" class="control-label col-xs-1">Group Id</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="groupid" placeholder="Group Id">
						</div>
					</div>
					<br>
					<br>
					<br>
					<div class="col-xs-2">
						<div class="form-control">
							<h4 style="margin:0px auto; padding-bottom:5px;" align="center">Basics</h4>
							<br>
							<form>
								<input type="checkbox" name="option1">Pasture Number<br>
								<input type="checkbox" name="option2">Sex<br> 
								<input type="checkbox" name="option3">Breed<br> 
								<input type="checkbox" name="option4">Height<br> 
								<input type="checkbox" name="option5">Weight<br> 
								<input type="checkbox" name="option6">Animal Type<br> 
								<input type="checkbox" name="option7">Status<br> 
								<input type="checkbox" name="option8">Herd<br> 
								<input type="checkbox" name="option9">Breed<br>
							</form>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-control">
							<h4 style="margin:0px auto; padding-bottom:5px;" align="center">Animal Inventory</h4>
							<br>
							<form>
								<input type="checkbox" name="option1">Brand<br>
								<input type="checkbox" name="option2">Brand Location<br> 
								<input type="checkbox" name="option3">Tattoo Left<br> 
								<input type="checkbox" name="option4">Tattoo Right<br> 
								<input type="checkbox" name="option5">Alternative ID<br> 
								<input type="checkbox" name="option6">Registration<br> 
								<input type="checkbox" name="option7">Color<br> 
								<input type="checkbox" name="option8">Horn Status<br> 
								<input type="checkbox" name="option9">Dam<br> 
								<input type="checkbox" name="option10">Sire<br>
								<input type="checkbox" name="option10">D.O.B<br>
								<input type="checkbox" name="option11">How Acquired<br> 
								<input type="checkbox" name="option12">Date Acquired<br> 
								<input type="checkbox" name="option13">How Disposed<br> 
								<input type="checkbox" name="option14">Date Disposed<br>
								<input type="checkbox" name="option10">Disposal Reason<br>
							</form>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-control">
							<h4 style="margin:0px auto; padding-bottom:5px;" align="center">Experiment</h4>
							<br>
							<form>
								<input type="checkbox" name="option1">Dam<br> 
								<input type="checkbox" name="option2">Sire<br>
								<input type="checkbox" name="option10">Dam Frame Score<br>
								<input type="checkbox" name="option3">Sire Frame Score<br> 
								<input type="checkbox" name="option4">DOB<br> 
								<input type="checkbox" name="option5">Wean Height<br> 
								<input type="checkbox" name="option6">Wean Weight<br> 
								<input type="checkbox" name="option7">Wean Date<br> 
								<input type="checkbox" name="option9">Birth Weight<br>  
								<input type="checkbox" name="option8">Yearling Height<br>
								<input type="checkbox" name="option11">Yearling Weight<br>
								<input type="checkbox" name="option12">Yearling Date<br> 
								<input type="checkbox" name="option13">Custom Weight<br> 
								<input type="checkbox" name="option14">Custom Weight Date<br> 
								<input type="checkbox" name="option15">Custom Height<br>
								<input type="checkbox" name="option16">Custom Height Date<br>
								<input type="checkbox" name="option17">Block/Pen<br> 
								<input type="checkbox" name="option18">Replicate<br> 
								<input type="checkbox" name="option19">Back Fat<br>
								<input type="checkbox" name="option20">Treatment<br>
							</form>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-control">
							<h4 style="margin:0px auto; padding-bottom:5px;" align="center">Reproduction</h4>
							<br>
							<form>
								<input type="checkbox" name="option1">Breeding<br> 
								<input type="checkbox" name="option2">Pregnancy<br>
								<input type="checkbox" name="option10">Current Calf<br>
								<input type="checkbox" name="option3">DOB<br> 
								<input type="checkbox" name="option4">Calf Sex<br> 
								<input type="checkbox" name="option5">Calf Birth Weight<br> 
								<input type="checkbox" name="option6">Dam Calving Disposition<br> 
								<input type="checkbox" name="option7">Calving Ease<br> 
								<input type="checkbox" name="option9">Udder Score<br>  
								<input type="checkbox" name="option8">Comments<br>
								<input type="checkbox" name="option11">Dam Disposition<br>
								<input type="checkbox" name="option12">Cow Wt Breeding<br> 
								<input type="checkbox" name="option13">Cow Ht Breeding<br> 
								<input type="checkbox" name="option14">Cow Wt Weaning<br> 
								<input type="checkbox" name="option15">Cow Ht Weaning<br>
								<input type="checkbox" name="option16">Cow Wt Calving<br>
								<input type="checkbox" name="option17">Cow Ht Calving<br> 
								<input type="checkbox" name="option18">B.C.S Weaning<br> 
								<input type="checkbox" name="option19">B.C.S Calving<br>
								<input type="checkbox" name="option20">B.C.S Breeding<br>
								<input type="checkbox" name="option11">Custom Cow Wt<br>
								<input type="checkbox" name="option12">Custom Cow Ht<br> 
								<input type="checkbox" name="option13">Bull Disposition<br> 
								<input type="checkbox" name="option14">Bull Wt Pre-Breeding<br> 
								<input type="checkbox" name="option15">Bull Ht Pre-Breeding<br>
								<input type="checkbox" name="option16">Fertility<br>
								<input type="checkbox" name="option17">Mobility<br> 
								<input type="checkbox" name="option18">Conc.<br> 
								<input type="checkbox" name="option19">Dead/Abnormal<br>
							</form>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-control">
							<h4 style="margin:0px auto; padding-bottom:5px;" align="center">Medical</h4>
							<br>
							<form>
								<input type="checkbox" name="option1">Reason for Procedure<br>
								<input type="checkbox" name="option2">Notification of VMO<br> 
								<input type="checkbox" name="option3">Recommendation of VMO<br> 
								<input type="checkbox" name="option4">Treatment Protocol<br> 
								<input type="checkbox" name="option5">Animal Location Pre-Resolution<br> 
								<input type="checkbox" name="option6">Follow-up Exam<br> 
								<input type="checkbox" name="option7">Resolution<br> 
								<input type="checkbox" name="option8">Date of follow-up Exam<br> 
								<input type="checkbox" name="option9">Animal Location<br> 
								<input type="checkbox" name="option10">Date of Action<br>
							</form>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-control">
							<h4 style="margin:0px auto; padding-bottom:5px;" align="center">Grazing</h4>
							<br>
							<form>
								<input type="checkbox" name="option1">Pasture Acres<br>
								<input type="checkbox" name="option2">Animals Present<br> 
								<input type="checkbox" name="option3">Date In<br> 
								<input type="checkbox" name="option4">Date Out<br> 
								<input type="checkbox" name="option5">Stocking<br>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>













{% endblock %}