{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Health List{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the Health List page</h1>
	
	<div class="container">
		<table id="table"
			data-search="true"
			data-pagination="true"
			data-show-refresh="true"
			data-show-columns="true"
			data-show-export="true"
			data-filter-control="true">
			<thead>
				<tr>
					<th data-field="state" data-checkbox="true" id="selectall"></th>
					<th data-sortable="true" data-field="Animal_id" data-filter-control="select">Animal_id</th>
					<th data-sortable="true" data-field="Type">Type</th>
					<th data-field="Documents">Documents</th>
					<th data-field="start_date">start_date</th>
					<th data-field="end_date">end_date</th>
					<th data-field="email_id">email_id</th>
					<th data-field="reasonforprocedure">Reason For Procedure</th>
					<th data-field="notificationofvmo">Notification of VMO</th>
					<th data-field="followupexam">Follow up exam</th>
					<th data-field="followupexamdate">Follow up exam Date</th>
					<th data-field="animallocation">Animal Location</th>
					<th data-field="date_of_action">Date of Action</th>
					<th data-field="Record_ID">Record_ID</th>
					<th data-field="Procedure_ID">Procedure_ID</th>
					<th data-field="quantity">Quantity</th>
					<th data-field="Medicine_ID">Medicine_ID</th>
				</tr>
			</thead>
		</table>
		<br>
		<button type="button" class="btn btn-primary btn-lg">Edit</button>
		<button type="button" class="btn btn-secondary btn-lg">Delete</button>
	</div>		
	
	{% endblock %}

{% block HealthRecords %} class="panel-collapse collapse in" {% endblock %}
{% block imports %} <script type = "text/javascript" src="{{url_for('static', filename= 'js/health_list_scripts.js')}}"></script>{% endblock %}
</body>
</html>
