{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}View Herd{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the View Herd page</h1>
	
	<div class="container">
		<table id="table"
			data-search="true"
			data-pagination="true"
			data-show-refresh="true"
			data-show-columns="true"
			data-show-export="true"
			data-filter-control="true">
			<thead>
				<tr>
					<th data-field="state" data-checkbox="true" id="selectall"></th>
					<th data-sortable="true" data-field="name" data-filter-control="select">Herd Name</th>
					<th data-sortable="true" data-field="description">Description</th>
					<th data-field="create_date">Create Date</th>
					<th data-field="animalname" class="w200">Animal Name</th>
				</tr>
			</thead>
		</table>
		<br>
		<button type="button" class="btn btn-primary btn-lg">Edit</button>
		<button type="button" class="btn btn-secondary btn-lg">Delete</button>
	</div>		
	{% endblock %}

{% block Herd %} class="panel-collapse collapse in" {% endblock %}
{% block imports %} <script type = "text/javascript" src="{{url_for('static', filename= 'js/herd_list_scripts.js')}}"></script>{% endblock %}
</body>
</html>
