{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Create Herd{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the Create Herd page</h1>
	<form>
		<div class="row">
			<div class="col-xs-5">
				<select name="from[]" id="search" class="form-control" size="8" multiple="multiple">
					<option value="1">Item 1</option>
					<option value="2">Item 5</option>
					<option value="2">Item 2</option>
					<option value="2">Item 4</option>
					<option value="3">Item 3</option>
				</select>
			</div>

			<div class="col-xs-2">
				<button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
				<button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
				<button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
				<button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
			</div>

			<div class="col-xs-5">
				<select name="to[]" id="search_to" class="form-control" size="8" multiple="multiple"></select>
			</div>
		</div>
		<br>
		  <div class="form-group">
			<label for="exampleInputName2">Herd Name</label>
			<input type="text" class="form-control" id="exampleInputName2" placeholder="Herd Name">
		  </div>
		  <div class="form-group">
			<label for="exampleInputEmail2">Herd Description</label>
			<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Describe Herd">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	{% endblock %}

{% block Herd %} class="panel-collapse collapse in" {% endblock %}
{% block imports %}
<script type = "text/javascript" src="{{url_for('static', filename= 'js/herd_create_scripts.js')}}"></script>
{% endblock %}
</body>

</html>
