{% extends "header.html" %}
{% block body %}
<html>
<head>
<link rel="stylesheet" media="screen" href = "static/css/bootstrap.min.css">
</head>

<body>
	<form class = "form-horizontal">
		<ul class="nav nav-tabs nav-justified">
			<li role="presentation"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab">Documentation</a></li>
			<li role="presentation"><a href="sop" aria-controls="sop" role="tab" data-toggle="tab">SOP</a></li>
			<li role="presentation"><a href="#researchprotocol" aria-controls="researchprotocol" role="tab" data-toggle="tab">Research Protocol</a></li>
			<li role="presentation"><a href="researchprotocol" aria-controls="animaldocs" role="tab" data-toggle="tab">Animal Welfare Act Docs</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="documentation"> 
				<form class="form-horizontal" style="margin-top:15px;">
					<div class="form-group">
					<a href ="/tmp/Cow.pdf" target='_blank' download >Download</a>
					</div>
				</form>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sop">....</div>
			<div role="tabpanel" class="tab-pane fade" id="researchprotocol">....</div>
			<div role="tabpanel" class="tab-pane fade" id="animaldocs">....</div>
		</div>
	</form>
</body>

</html>
{% endblock %}