{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Inspection Report View{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the View Inspection Reports page</h1>
	
	<div class="container">
		<table data-toggle="table"
		data-pagination="true"
		data-search="true"
		data-click-to-select="true">
		<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>
			<th data-field="Date">Date</th>
			<th data-field="Pasture">Pasture</th>
			<th data-field="Submitted By">Submitted By</th>
		</tr>
		</thead>
		<tbody>
		 <tr>
			<td data-checkbox="true"></td>
			<td>2018-04-20</td>
			<td>10A</td>
			<td>test@gmail.com</td>
		 </tr>
		 <tr>
			<td data-checkbox="true"></td>
			<td>2018-04-20</td>
			<td>10B</td>
			<td>test@gmail.com</td>
		 </tr>
		 <tr>
			<td data-checkbox="true"></td>
			<td>2018-04-20</td>
			<td>20A</td>
			<td>test@gmail.com</td>
		 </tr>
		</tbody>
	</table>
	</div>
	
	<p>Click on specific report to expand/View will be added soon</p>
	{% endblock %}

{% block Inspection %} class="panel-collapse collapse in" {% endblock %}
</body>
</html>
