{% extends "header.html" %}
<html>
<style>
.position{
top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
	}
</style>
<head>
<input type="file" id="fileUpload" class="position"/>
<input type="button" id="upload" value="Upload" />
<hr />
</head>
<div class="container" style="min-height:100% width:80%">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
	{% for message in messages %}
	  <div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		{{message}}
	  </div>
	{% endfor %}
  {% endif %}
{% endwith %}

{% block body %}
	</div>


<div id="dvCSV">
</div>

</body>
<script type = "text/javascript" src="{{url_for('static', filename= 'js/jquery-csv.js')}}"></script>
<script type = "text/javascript" src="{{url_for('static', filename= 'js/page.js')}}"></script>
</html>

{% endblock %}