{% extends "header.html" %}
{% block body %}
<html>
<head>
<title>Parmaceutical Inventory</title>
<script>
	$(document).ready(function () {
		$.ajax({
            url : '/api/medical_inventory/',
            type : 'GET',
            dataType : 'json',
            success : function(data) {
                assignToEventsColumns(data);
            }
        });

        function assignToEventsColumns(data) {
            var table = $('#myTable').dataTable({
                "bAutoWidth" : false,
                data : data.data,
				order: [ 3, 'desc' ],
                "columns" : [ {
                    "data" : "attributes.medication"
                }, {
                    "data" : "attributes.quantity"
                }, {
                    "data" : "attributes.cost"
                }, {
                    "data" : "attributes.purchasedate"
                }, {
					"data" : "attributes.expirydate"
				} ]
            })
        }
	});
</script>	
</head>

<body>
	<form class = "form-horizontal" style="margin-top:15px;">
		<div class="form-group" style="margin-top:15px;">
		<h1>Medical Inventory</h1>
			<a href="/pharma_addnew" id="add_new_medication"><button type="button"  class='btn btn-default'>Add New Medication</button></a>
		</div>
		<table id="myTable" class="display" cellspacing="0" width="90%">
			<thead>
				<tr>
					<th>Medication</th>
					<th>Medication Quantity</th>
					<th>Mediaction Cost</th>
					<th>Purchase Date</th>
					<th>Expire Date</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Medication</th>
					<th>Medication Quantity</th>
					<th>Mediaction Cost</th>
					<th>Purchase Date</th>
					<th>Expire Date</th>
				</tr>
			</tfoot>
		</table>

	</form>
</body>
</html>
{% endblock %}