{% extends "header.html" %}
{% block body %}
<html>
<head>
	<title>Report Page</title>
</head>
<body>
	<form id = "reportpage">
		<h3>Welcome to the Report page</h3>
		<div class="form-group">
			<label for="cownumber" class="control-label col-xs-1">Animal Number</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="cownumber" name="cownumber" placeholder="Animal Number">
			</div>
			<label for="eid" class="control-label col-xs-1">EID</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="eid" placeholder="EID">
			</div>
			<label for="eartag" class="control-label col-xs-1">Ear Tag</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="eartag" name="eartag" placeholder="Ear Tag">
			</div>
			<label for="groupnumber" class="control-label col-xs-1">Group Number</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="groupnumber" placeholder="Group Number">
			</div>
			<br>
			<br>
		</div>
	</form>
	<form class = "form-horizontal" method="POST">
		<table id="report_table" class="display" cellspacing="0" width="90%">
			<thead id="reporttableheader"></thead>
			<tfoot id="reporttablefooter"></tfoot>
		</table>



	</form>
</body>
<script type = "text/javascript" src="{{url_for('static', filename= 'js/reportingpagescripts.js')}}"></script>
</html>
{% endblock %}