{% extends "header.html" %}
{% block body %}
<html>
<head>
	<title>Report Page</title>
</head>
<body>
	<form id = "reportpage">
		<h3>Welcome to the Report page</h3>
	</form>
	<form class = "form-horizontal" method="POST">
		<table id="report_table" class="display" cellspacing="0" width="90%">
			<thead id="reporttableheader"></thead>
			<tfoot id="reporttablefooter"></tfoot>
		</table>



	</form>
</body>
<script type = "text/javascript" src="{{url_for('static', filename= 'js/reportingpagescripts.js')}}"></script>
</html>
{% endblock %}