{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}View/Update Calf Reproduction{% endblock %}</title></head>
<body>
	
	{% block main %}
	<div id="Notification area"></div>
	<h1>This is the Reproduction View/Update Calf page</h1>
	<div class="container">
		<table data-toggle="table"
		data-pagination="true"
		data-search="true"
		data-click-to-select="true">
		<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>
			<th data-field="Number">#</th>
			<th data-field="Date">Date</th>
			<th data-field="Calf_Born">Calf Born</th>
		</tr>
		</thead>
		<tbody>
		 <tr>
			<td data-checkbox="true"></td>
			<td>1</td>
			<td>2018-04-20</td>
			<td>80123</td>
		 </tr>
		 <tr>
			<td data-checkbox="true"></td>
			<td>2</td>
			<td>2018-02-20</td>
			<td>80056</td>
		 </tr>
		 <tr>
			<td data-checkbox="true"></td>
			<td>3</td>
			<td>2018-01-20</td>
			<td>80012</td>
		 </tr>
		</tbody>
	</table>
	</div>
	
	<button type="button" class="btn btn-primary btn-lg">Edit</button>
	<button type="button" class="btn btn-secondary btn-lg">Delete</button>
	{% endblock %}

{% block Reproduction %} class="panel-collapse collapse in" {% endblock %}
</body>
</html>
