{% extends "header.html" %}
{% block body %}
<html>

<body>
	<div id="Notification area"></div>
		<div class="row text-center" style="margin-bottom:20px;">
		  <img class="img-responsive center-block" src="/static/images/mainscreen.jpeg" alt="Chania" width="460" height="345">
		</div>

		<div class="row text-center">
		  <div class="col-xs-8 col-xs-offset-2" style="margin-bottom:50px;">
			<div class="input-group" style="margin auto;">
			  <span class="input-group-addon" name="searchradios">
				  <input type="radio" name="identifier" value="animalname" checked="checked">Animal Name
				  <input type="radio" name="identifier" value="cownumber">Animal Number
				  <input type="radio" name="identifier" value="eid">EID
				  <input type="radio" name="identifier" value="groupnumber">Group Number
				  <input type="radio" name="identifier" value="reportnumber">Report Number
				  
			  </span>
			  <input type="text" class="form-control" id="cowSearch" name="cowsearch" placeholder="Animal Number / Herd Name">
			  <span class="input-group-btn"><input type="submit" class="btn" value="Search" id ="search"></span>
			</div><!-- /input-group -->
		  </div><!-- /.col-xs-8 -->
		</div><!-- /.row -->

<div class="sidenav" style="width:15%">
	  <a href="" id="newcow" onclick = "inputDataBasic(); return false;">New Animal</a>
	  <a href="/newexperimentpage" id="newexperimentbutton">New Experiment</a>
	  <a href="/allexperimentpage" id="allexperiments">All Experiments</a>
	  <a href = "/create_report" id = "reports">Create Report</a>
	  <a href="https://162.243.13.216/owncloud" id="iacuc">IACUC</a>
	  <a href="/pharma" id="pharma">Pharma Inventory</a>
	  <a href = "/inspectionreport" id = "inspectionreport">Inspection Report</a>
	  <a href = "/createherdchange" id = "createherdchange">Herd Change</a>
</div>	
</body>
	<script type = "text/javascript" src="{{url_for('static', filename= 'js/searchpagescripts.js')}}"></script>
</html>
{% endblock %}