{% extends "header.html" %}
{% block body %}
<html>
<head>
<link rel="stylesheet" media="screen" href = "static/css/bootstrap.min.css">
<script type = "text/javascript">
	$(function retriveCowNumber () {
		$('#search').click(function(e) {
			var cownumber = $('#cowSearch').val();
			$.ajax({
				url: '/api/master_animal/'+cownumber,
				data: $('form').serialize(),
				type: 'GET',
				success: function(data) {
					window.location.href = '/dashboard?cownumber='+cownumber
					console.log(data);
				},
				error: function(error) {
					console.log(error);
					alert("Cow number does not exist")
				}
			});
			e.preventDefault();
		});
	});
</script>
</head>

<body>
	<form class = "form-horizontal">
		<div class="row text-center" style="margin-bottom:20px;">
		  <img class="img-responsive center-block" src="/static/images/mainscreen.jpeg" alt="Chania" width="460" height="345">
		</div>
		<div class="row text-center">
		  <div class="col-lg-6 col-lg-offset-3" style="margin-bottom:50px;">
			<div class="input-group" style="margin:auto;">
			  <input type="text" class="form-control" id="cowSearch" placeholder="Cow Number">
			  <span class="input-group-btn"><input type="submit" class="btn" value="search" id ="search"></span>
			</div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->	
		<div class="btn-group btn-group-justified" role="group" aria-label="Everything" style="margin:auto; width:70%">
			<div class="btn-group" role="group">
				<a href="/adddashboard" id="newcow"><button type="button" class="btn btn-info">New Cow</button></a>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-warning">Group Add</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-barcode"></span>Read RFID Tag</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-danger">Quit to Windows</button>
			</div>
		</div>
		<div class="btn-group btn-group-justified" role="group" aria-label="Everything" style="margin:auto; width:70%; margin-top:10px">
			<div class="btn-group" role="group">
				<a href="/iacuc" id="newcow"><button type="button" class="btn btn-default">IACUC</button></a>
			</div>
			<div class="btn-group" role="group">
				<a href="/pharma" id="pharma"><button type="button" class="btn btn-default">Pharma Inventory</button></a>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">Coming Soon</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">Coming Soon</button>
			</div>
		</div>
	</form>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type = "text/javascript" src = "/static/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>
{% endblock %}