{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Searchpage{% endblock %}</title></head>
<body>

{% block main %}
<div id="Notification area"></div>
<div class="row text-center" style="margin-bottom:20px;">
  <img class="img-responsive" align="center" src="/static/images/mainscreen.jpeg" alt="Chania" width="460" height="345">
</div>

<div class="row text-center">
  <div class="col-xs-8 col-xs-offset-2" style="margin-bottom:50px;">
	<div class="input-group" style="margin auto;">
	  <span class="input-group-addon" name="searchradios">
		  <input type="radio" name="identifier" value="animalname" checked="checked">Animal Name
		  <input type="radio" name="identifier" value="cownumber">Animal Number
		  <input type="radio" name="identifier" value="eid">EID
		  <input type="radio" name="identifier" value="groupnumber">Group Number
		  <input type="radio" name="identifier" value="reportnumber">Report Number
		  
	  </span>
	  <input type="text" class="form-control" id="cowSearch" name="cowsearch" placeholder="Animal Number / Herd Name">
	  <span class="input-group-btn"><input type="submit" class="btn" value="Search" id ="search"></span>
	</div><!-- /input-group -->
  </div><!-- /.col-xs-8 -->
</div><!-- /.row -->
{% endblock %}

{% block sidenav %}
<div class="sidenav">
    <ul class="vertical-nav">
        <li><a href="#">Animal<icd></icd></a>
			<ul class="child">
                <li><a href="/animal/list">List Animals</a></li>
                <li><a href="/animal/add">Add Animal</a></li>
                <li><a href="/animal/update">View/Update Animal</a></li>
            </ul></li>
        <li><a href="#">Experiment <icd></icd></a>
            <ul class="child">
                <li><a href="/experiment/add">Add Experiment</a></li>
                <li><a href="/experiment/update">View/Update Experiment</a></li>
            </ul>
        </li>
		<li><a href="#">Report <icd></icd></a>
            <ul class="child">
                <li><a href="/report/create">Create Report</a></li>
                <li><a href="/report/view">View Report</a></li>
            </ul>
        </li>
		<li><a href="#">Inventory <icd></icd></a>
            <ul class="child">
                <li><a href="/inventory/formulary">Formulary</a></li>
                <li><a href="/inventory/pasture">Pasture</a></li>
				<li><a href="/inventory/procedure">Procedure</a></li>
            </ul>
        </li>
		<li><a href="#">Inspection <icd></icd></a>
            <ul class="child">
                <li><a href="/inspection/submit">Submit Inspection</a></li>
                <li><a href="/inspection/view">View Inspection Reports</a></li>
            </ul>
        </li>
		<li><a href="#">Reproduction <icd></icd></a>
            <ul class="child">
                <li><a href="/reproduction/calfadd">Add Calf</a></li>
                <li><a href="/reproduction/calfview">View/Update Calf</a></li>
            </ul>
        </li>
		<li><a href="#">Herd <icd></icd></a>
            <ul class="child">
                <li><a href="/herd/create">Create Herd</a></li>
                <li><a href="/herd/view">View/Update Herd</a></li>
				<li><a href="/herd/grazing">Grazing</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
</body>
</html>
