{% extends "header.html" %}
<html>
<body>
{% block body %}

<h2>Here we will display all the results for the test feature for connecting MYSQLdb</h2>


<table id="test_table" class="display" cellspacing="0" width="90%">
	<thead>
		<tr>
			<th>Animal_ID</th>
			<th>eartag</th>
			<th>eid</th>
			<th>sex</th>
			<th>pasturenumber</th>
			<th>breed</th>
			<th>status</th>
			<th>current_expt_no</th>
			<th>Herd</th>
			<th>animaltype</th>
			<th>animalname</th>
			<th>breeder</th>
			<th>currentframescore</th>
			<th>damframescore</th>
			<th>comments</th>
			<th>species</th>
			<th>height</th>
			<th>weight</th>
			<th>gender</th>
			<th>email_id</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Animal_ID</th>
			<th>eartag</th>
			<th>eid</th>
			<th>sex</th>
			<th>pasturenumber</th>
			<th>breed</th>
			<th>status</th>
			<th>current_expt_no</th>
			<th>Herd</th>
			<th>animaltype</th>
			<th>animalname</th>
			<th>breeder</th>
			<th>currentframescore</th>
			<th>damframescore</th>
			<th>comments</th>
			<th>species</th>
			<th>height</th>
			<th>weight</th>
			<th>gender</th>
			<th>email_id</th>
		</tr>
	</tfoot>
</table>

</body>
<script type = "text/javascript" src="{{url_for('static', filename= 'js/testing.js')}}"></script>
</html>
{% endblock %}

